# colab 사용법

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.


1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 **모음**

# 마크다운

* 필수 마크다운

```
  # hello
  ## hello
  ### hello

  1. hello
  2. hello
  3. hello

  * hello
  * hello
  * hello
```

* 선택 마크다운 (필수가 아니니 부담가지지 마세요.)

```
# h1
## h2
### h3
#### h4
##### h5
###### h6

---

1. hello
2. hello
3. hello

* hello
* hello
* hello

- hello
- hello
- hello

__굵게__
**굵게**
_기울여 쓰기_
*기울여 쓰기*
~취소선~
~~취소선~~

> 인용문 작성하기
`인라인 코드는 이렇게 작성해요.`

[인라인 링크](https://velog.io/)

![이미지 설명](이미지 링크)


* table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
| 1 | 2     | 3 | 4 | 5     |
|---|-------|---|---|-------|
| 1 | hello | 3 | 4 | world |

* [ ] hello
* [X] hello

```

# Python

In [ ]:
# 행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

In [ ]:
#아래와 같이 열 단위 주석으로 text를 넣을 수도 있습니다.

data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
    print('큰 따옴표로 세번 묶거나')

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello():
    return

class A: # 자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
#https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
# type -> string

hello = 10

print(r'hello \n world') # str -> raw (Django 2.x 까지 url parsing을 이렇게 사용하고 있어요.) // raw 값을 보여줌
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello \n world {}'.format(hello))

hello \n world
hello
 world 10
hello
 world 10

In [ ]:
# type -> float

# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러의 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3*(10**3)

In [ ]:
print(2.3e-3) # 무리수, 오일러의 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3*(10**-3)

0.0023
0.0023

0.0023

In [ ]:
class A: # 자동차 공장장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

<class 'type'>
<class '__main__.A'>

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

int

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

True

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a,int)
isinstance(a,float)

False

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만 , y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x) , id(y) # id는 누굴 가리키고 있는지를 그 주소값을 반환합니다.

(139698835161616, 139698835161616)

In [ ]:
x is y

True

In [ ]:
x = 257
y = 257

id(x) , id(y)

In [ ]:
x is y

False

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.

# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x) , id(y)

(139698835161136, 139698835161136)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a'+'a'

'aa'

In [ ]:
# 왜 이어 붙였지?
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자

In [ ]:
# cpython에 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속을 코드로 구현.
# type, dir
# 이러한 약속들은 매직메서드(__init__.....)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

'1010'

In [ ]:
int('10') + int('10')

20

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 약속을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'kanghyunwoo'

int('10') + int('10')

'kanghyunwoo'

In [ ]:
class int(int):
    def __add__(self, a):
        return self * a

int('10') + int('10')

100

In [ ]:
dir(10)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dict__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__module__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes', '제곱']

In [ ]:
value.제곱(3)

1000

In [ ]:
x = 10
y = x
z = y

print(x,y)
print(id(x),id(y),id(z))

10 10
139698835161616 139698835161616 139698835161616

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법 (Class 같은 곳에서 많이 사용합니다.)
Hello = 10

In [ ]:
# 10hello = 10
hello10 = 10

π=3.14 # 권하지 않습니다.
print(π)

_ = 100 # 언더바는 자주 사용되는데 이렇게 사용되진 않습니다.
print(_)

In [ ]:
for _ in range(10): # 언더바를 순회 안에서 변수로 사용하지 않을 때
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [ ]:
# if = 100
# print = 100

In [ ]:
# print('hello')

In [ ]:
print(a)

## 입력과 출력

In [ ]:
x = input()
x

10

'10'

In [ ]:
x + x # 사용자에게 받은 입력은 str

'1010'

In [ ]:
print(10,10,10)

10 10 10

In [ ]:
print('hello','world','hello')

hello world hello

In [ ]:
print(x,x)

10 10

In [ ]:
# end의 default값은 \n
print("hello world" , end="!")
print("hello world" , end="!")
print("hello world" , end="!")

hello world!hello world!hello world!

In [ ]:
print('hello','world' , sep="!")
print('010','5044','2903', sep="-")

hello!world
010-5044-2903

In [ ]:
이름 = '강현우'
나이 = 29
print('1. 제 이름은 강현우입니다. 제 나이는 29입니다.')
print('2. 제 이름은 ',이름, '입니다. 제 나이는 ',나이,'입니다.',sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름,나이)) # 오래된 문법 , 권장하지 않음
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름,나이))
print(f'5. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

1. 제 이름은 강현우입니다. 제 나이는 29입니다.
2. 제 이름은 강현우입니다. 제 나이는 29입니다.
3. 제 이름은 강현우입니다. 제 나이는 29입니다.
4. 제 이름은 강현우입니다. 제 나이는 29입니다.
5. 제 이름은 강현우입니다. 제 나이는 29입니다.

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100*10}')

1000

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
# Why ? 가독성 증가.
result = 100 * 10
print(f'{result}')

In [ ]:
# 숫자 10은 문자열 길이
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.

print(f'{"hello":<10}') # 왼쪽 정렬
print(f'{"hello":>10}') # 오른쪽 정렬
print(f'{"hello":^10}') # 가운데 정렬

hello
     hello
  hello

In [ ]:
txt = 'hello'
i = 10
print(f'{txt:>10}')
print(f'{txt:>{i}}')

     hello
     hello

In [ ]:
# '=' 로 빈자리 채우기

print(f'{"hello":=<10}') # 왼쪽 정렬
print(f'{"hello":=>10}') # 오른쪽 정렬
print(f'{"hello":=^10}') # 가운데 정렬

hello=====
=====hello
==hello===

In [ ]:
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

01001

In [ ]:
bin(9 | 30)[2:].replace('1','#').replace('0',' ')

'#####'

In [ ]:
# 요정도 활용을 합니다.
print(f'{"start":-^20}')

-------start--------

In [ ]:
# 0.nf n번째 소숫점 자리까지 출력력
print(f'{0.12345:0.2f}')

0.123

> 이 아래 코드는 필수는 아닙니다. 
참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

나의 이름은 한사람입니다
나의 이름은 "한사람"입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 033세이고 신장은  56.79입니다. 나의 이름은 한사람입니다.
----------------------------------------
나의 이름은 한사람입니다
나의 이름은 한사람입니다. 나이는 33세이고 성별은 남성입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
나이는 33세이고 성별은 남성입니다. 나의 이름은 한사람입니다.
만세삼창 :  만세!!! 만세!!! 만세!!!
삼삼칠 박수 :  짝짝짝!!! 짝짝짝!!! 짝짝짝짝짝짝짝!!!
----------------------------------------
볼펜 2개의 길이는 10.686cm 입니다.
볼펜 2개의 길이는 10.7cm 입니다.

In [ ]:
print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

Python is [good           ]
Python is [good           ]
Python is [           good]
Python is [     good      ]
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
당신의 나이는 [             22]세
당신의 나이는 [22             ]세
----------------------------------------

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬*
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}') # <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

1234567890
    5
5
  5
50000
   5.00

## int

* 파이썬에서는 숫자를 정수 , 실수 , 복소수로 나눠 표현합니다.
* 2진수 , 8진수 , 16진수는 정수로 표현됩니다.

In [ ]:
  # 10 정수
  # -10 정수
 # 10.1  실수

 a = 10
 type = (a)
 dir(a)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
'bit_length' # bit로 바꾸었을 때 비트의 길이이
'to_bytes' # 컴퓨터에 저장하는 바이트의 형태로 숫자를 표현현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024Kb 
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() # 1001

4

In [ ]:
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)
(-2).to_bytes(1, byteorder='little', signed=True)

b'\xfe'

In [ ]:
# 9의 보수와 10의 보수는 +- 1 차이

8887

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보스를 사용합니다.
# 1의 보수를 사용하게 되면 +0과 *0이 존재하게 됨으로 비트 하나를 낭비하게 됩니다.
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 진법 변환 쉽게 하는 법 : 가장 가까운 승수를 찾아 더하거나 뺍니다.

# 10진법
# 0 1 2 3 4 5 6 7 8 9 -> 10
# 1324 = 1*10^3 + 3*10^2 + 2*10^1 + 4*10^0

# 2진법
# 0 1 -> 10
# 1001 = 1*2^3 + 1*2^0 = 9

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e  -> 10

In [ ]:
# color의 표현현
# 2596be
# 000000 ~ ffffff
# ff는 10진수로 무슨 숫자를 의미 = 255
# 100 - 1 => ff가 됩니다. 그래서 256 - 1

In [ ]:
a = 10
type(a)

int

In [ ]:
int('10', 2) # 2진법으로 10은?

2

In [ ]:
int('10', 8) # 8진법으로 10은?

8

In [ ]:
int('10', 16) # 16진법으로 10은?

16

In [ ]:
print(0b110) # 바이너리 2진수
print(0o110) # 옥타 8진수
print(0x110) # 헥사 16진수

6
72
272

In [ ]:
type(0b110)

int

In [ ]:
a = 10
type(a) == int
isinstance(a, int)

## float(실수)

In [ ]:
a = 10.1

type(a)

float

In [ ]:
dir(a)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__setformat__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']

In [ ]:
a = 10
b = 10.1

a + b # 다른 일부 언어에서는 허용되지 않습니다.

20.1

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1 + 0.2 # 대부분의 언어 공통입니다. 0.1을 더하면 안된다.

0.30000000000000004

In [ ]:
a = 0.1

In [ ]:
# 20번 반복
a = a + 0.1
a

0.7

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자들은 2진 분수로 표현되기에 무한대수가 발생한다.
* [무한수가 발생되는 원리](https://www.notion.so/paullabworkspace/5f34f21bf9a34015b170e7afd7da9593)

## !! 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

----

## str (문자열)

* 순서가 있는 **시퀀스 자료형**입니다.
* 순서가 있는 시퀀스 자료형입니다.
* 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
* 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
* 이스케이프 문자도 사용이 가능합니다.
* 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO kanghyunwoo'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

'p'

In [ ]:
type(s)

str

In [ ]:
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO kanghyunwoo'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

('paullab ceo leehojun', 'PAULLAB CEO LEEHOJUN')

In [ ]:
s = 'paullab CEO kanghyunwoo'
s.find('C'), s.index('C')

(8, 8)

In [ ]:
# 견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버에 이미지 슬라이딩 코드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요합니다.
s.find('Z')

-1

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

ValueError: ignored

In [ ]:
s = 'ormi CEO kanghyunwoo'
s.find('CEO')

5

In [ ]:
# 별 5개 ★★★★★
s = 'orrrmi CEO kanghyunwoo'
s.count('r')

3

In [ ]:
str([1, 2, 3, 4, 5])

'[1, 2, 3, 4, 5]'

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [ ]:
str([1, 2, 3, 4, 5]).count(' ')

4

In [ ]:
str([1, 2, 11, 4, 111]).count('1')

6

In [ ]:
str(list(range(0,10001))).count('8')

4000

*https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

4

In [ ]:
str([1,2,3,4,5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
'hello'.count('')

6

In [ ]:
''.count('')

1

In [ ]:
'' + ''

''

In [ ]:
'   hello   !   '.strip() # 공백제거 메서드드

'hello   !'

In [ ]:
'   hello   !   '.rstrip()

'   hello   !'

In [ ]:
'   hello   !   '.lstrip()

'hello   !   '

In [ ]:
# 별 5개 ★★★★★
'hello world hi'.replace(' ','!')
'hello world hi'.replace('world','W@O@R@L@D').upper()

'HELLO W@O@R@L@D HI'

In [ ]:
'hello world hi'.replace('world','W@O@R@L@D').upper().split('@')
# 반환값이 list이기 때문에 메서드 체이닝을 하려면 
# 이후로 list 메서드를 사용해야 함

['HELLO W', 'O', 'R', 'L', 'D HI']

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ','').replace('"','')

# Pythonic하지 않다.

data.split('\n')[0].replace(' ',
                '').replace('"',
                '')

# Pythonic하게 하려면

data.split('\n')[0]\
                .replace(' ','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\
                .replace('"','')\

# 제가 사용하는 기법
processed_string = data.split('\n')[0].replace(' ','').replace('"','')
processed_string.replace('"', '').replace('"', '')

'"++-+-+-"'

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 영어는 79자 미만
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 한글은 39자 미만만

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경 chr은 숫자를 가지고 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ','').replace('"','').replace('+','1').replace('-','0')
int(숫자,2)
chr(int(숫자,2))

'j'

In [ ]:
# 아스키코드
# A = 65 , a = 97
# 90 다음에 영어 소문자로 바로 이어지지않음.

In [ ]:
# 별 4.5개 ★★★★☆
'paullab CEO kanghyunwoo'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!kanghyunwoo'.split('!')
'paullab,CEO,kanghyunwoo'.split(',')

['paullab', 'CEO', 'leehojun']

In [ ]:
'010 5044 2903'
'010-5044-2903'
'010 5044-2903'

In [ ]:
['010','5044','2903']
[010,5044,2903]

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
'010 5044-2903'.replace('-',' ').split(' ')

['010', '5044', '2903']

In [ ]:
'010 5044 2903'.split(' ')

['010', '5044', '2903']

In [ ]:
list(map(int, '010 5044 2903'.split(' ')))
list(map(int, '010-5044-2903'.split('-')))
list(map(int, '010 5044-2903'.replace('-',' ').split(' ')))

[10, 5044, 2903]

In [ ]:
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

In [ ]:
# 지금 진도에서 과하기 때문에
# 지금은 잊으셔도 됩니다. 
# 뒤에서 상세하게 다룹니다.
def 제곱함수(x):
    return x ** 2

def 정수함수(x):
    return int(x)

list(map(제곱함수, [1, 2, 3]))
list(map(정수함수, ['1', '2', '3']))
list(map(int, ['1', '2', '3']))

list(map(int, ['010', '5044', '2903']))
list(map(int,'010 5044 2903'.split(' ')))

In [ ]:
# 별 4.5개 ★★★★☆

'~'.join(['hello','world','hello'])
'!'.join(['hello','world','hello'])
''.join(['hello','world','hello'])
' '.join(['hello','world','hello'])

'hello world hello'

In [ ]:
'hello'.isalpha()

True

In [ ]:
'he llo'.isalpha()

False

In [ ]:
'123'.isdigit()

True

In [ ]:
'12a3'.isdigit() , '12 3'.isdigit()

(False, False)

In [ ]:
'12a3'.isalnum() , '12 3'.isalnum()

(True, False)

In [ ]:
'안녕하세요!'.isalpha() , '안녕하세요!'.isalnum()

(False, False)

In [ ]:
# 퀴즈
# 숫자를 모두 더하라

result = 0

for i in '123abc913sldlf':
    # print(i.isdigit())
    if i.isdigit():
        result += int(i) # result = result + int(i)
result

True
True
True
False
False
False
True
True
True
False
False
False
False
False

18

In [ ]:
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO kanghyunwoo'.isascii()

True

In [ ]:
'paullab CEO kanghyunwoo'.rjust(30) #오른쪽 정렬
'paullab CEO kanghyunwoo'.ljust(30) #왼쪽 정렬
'paullab CEO kanghyunwoo'.center(30)#가운데 정렬

'     paullab CEO leehojun     '

In [ ]:
'hello'.zfill(20) # 데이터의 빈 공간을 0으로 채워줍니다.

'000000000000000hello'

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0','-')

'-----hello'

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t kanghyunwoo'.translate(규칙테이블)

'paullab  CEO  leehojun'

In [ ]:
규칙테이블 = str.maketrans('\n\t', '  ') # 똑같은 길이를 가지고 있어야 함
'paullab \n\n\n CEO \t\t\t kanghyunwoo'.translate(규칙테이블)

'paullab     CEO     leehojun'

In [ ]:
'paullab \n\n\n CEO \t\t\t kanghyunwoo'.replace('\n', '').replace('\t', '')

'paullab  CEO  leehojun'

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 40자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code(https://peps.python.org/pep-0008/)
# pep20 : The Zen of Python(https://peps.python.org/pep-0020/)
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython 입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rissum'
print(name[0])
print(name[1])
print(name[2])

G
u
i

In [ ]:
# s[start:stop:step]
s = 'paullab CEO kanghyunwoo'
s[5:]
s[:5]
s[3:10]
s[:]
s[0:20:2]

'pulbCOleou'

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO kanghyunwoo.'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.

'paullab CEO leehojun'

In [ ]:
test = [1,2,3,4]
test2 = test
test2[0] = 1000
test , test2

([1000, 2, 3, 4], [1000, 2, 3, 4])

In [ ]:
test = [1,2,3,4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test , test2

([1, 2, 3, 4], [1000, 2, 3, 4])

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)
s + s
s * 3

'hello worldhello worldhello world'

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파멧 입력하면 error

In [ ]:
x = input()
if x.isdigit():
    x = int(x)
x + x

123

246

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

In [ ]:
float('10') # 형변환 가능
float('10.1') # 형변환 가능

10.1

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
# Python에서는 허용되지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1,2,3])
str({1,2,3})
str({'one':1,'two':2})

"{'one': 1, 'two': 2}"

In [ ]:
# 별 5개 ★★★★★
# bool 형으로 형변환 하는 것
if True:
    print('hi')

if 'hello':
    print('hi')

# 정말 많이 사용하는 코드
l = [1,2,3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool(-1) # 0을 제외하고 모두 True
bool(100)
bool(None) # None은 비어있음을 명시해주는 키워드 , false
bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
bool({})

hi
hi
3
2
1

False

In [ ]:
# list로 형변환
s = '10'
l = list(s)
l

['1', '0']

In [ ]:
s = 'kanghyunwoo'
l = list(s)
l

['k', 'a', 'n', 'g', 'h', 'y', 'u', 'n', 'w', 'o', 'o']

In [ ]:
# tuple로 형변환
s = '10'
l = tuple(s)
l

('1', '0')

In [ ]:
# dict
# name = 'kanghyunwoo' # error
# dict(name)

s = [('name','kanghyunwoo'),('age',10)]
d = dict(s)
d

{'name': 'kanghyunwoo', 'age': 10}

In [ ]:
# set(집합)으로 형변환
name = 'kanghyunwoo'
set(name)

{'a', 'g', 'h', 'k', 'n', 'o', 'u', 'w', 'y'}

In [ ]:
len('hello world') # __len__
len([1,2,3,4])

4

## !! 문제풀이

In [ ]:
# 2번
x = input()
print(x*2)

ads
adsads

In [ ]:
# 3번
num = 1234567890
list(str(num))
list(str(num))[3]

'4'

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나옵니다. (정수만)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}') # 나머지 / 나머지가 0인 경우 배수다.

10 + 3 == 13
10 - 3 == 7
10 / 3 == 3.3333333333333335
10 // 3 == 3
10 * 3 == 30
10 ** 3 == 1000
10 % 3 == 1

In [ ]:
# 연산자 우선순위는 and, or, 4칙연산, 제곱 정도만 아셔도 
# 코딩하는데 큰 무리가 없습니다.
# (모르시면 읽는데 어려움이 생기기도 합니다.)

print(3 ** 2 * 3)
print(3 * 3 ** 2)
# 곱하기 보다 제곱이 우선 순위가 더 높다.
print(3 + 3 * 2) # 3 + 3부터 먼저 하지 않습니다.

27
27

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

10 > 3 == True
10 >= 3 == True
10 < 3 == False
10 <= 3 == False
10 == 3 == False
10 != 3 == True

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not 은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)
print(True or True)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 ==0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때
# or는 언제 True가 되나요?
# 둘 중에 하나라도 참이라면 True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide
for i in range(101):
    if i % 3 == 0 and i % 5 == 0 :
        print(i)

0
15
30
45
60
75
90

In [ ]:
for i in range(101):
    if i % 3 == 0 or i % 5 == 0 :
        print(i)

0
3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99
100

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0:
        result += i # result = result + i
    if i % 5 == 0:
        result += i
    if i % 15 == 0:
        result -= i
print(result)

2418

In [ ]:
result = 0
for i in range(101):
    if i % 3 == 0 or i % 5 == 0:
        result += i
result

2418

In [ ]:
not True

False

In [ ]:
not False

True

In [ ]:
# Python 입장에서 보는 코드
# False and ?????? => 물음표에 무엇이 나오는 False
# 그래서 Python도 저 물음표를 보지 않습니다.

def solution():
    1/0
if False and solution():
    print('hello')

In [ ]:
# True or ???? => 물음표에 무엇이 나오든 True
# 그래서 Python도 저 물음표를 보지 않습니다.

def solution():
    1/0
if True or solution():
    print('hello')

hello

In [ ]:
# 단락 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' #사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

'licat'

In [ ]:
username = 'kanghyunwoo' #사용자가 이름을 입력했을 경우
username = username or 'licat'
username

'kanghyunwoo'

In [ ]:
# and와 or의 우선순위(and가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
15
16
18
20
0
2
4
6
8
10
12
14
15
16
18
20

In [ ]:
# 헷갈리면 () 사용용
for i in range(11):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(11):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

0
3
6
9
10
0
3
6
9
10

## 비트연산 (중요도 하)

In [ ]:
# and ( 곱하기 )
# 1001 == 9
# 0010 == 2
# ----
# 0000

In [ ]:
9 & 2

In [ ]:
# 1001 == 9
# 1000 == 8
# ----
# 1000

In [ ]:
9 & 8

In [ ]:
# or ( 더하기 , 대신 자리올림이 되진 않습니다. )
# 1001 == 9
# 0011 == 3
# ----
# 1011

9 | 3

11

In [ ]:
# xor (같을 경우 0 , 다를 경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010 
9 ^ 3

10

In [ ]:
~9 # 2보수를 취하는 것입니다. (9에게 +1한 다음에 -를 취하시면 됩니다. ex) -(9+1) )
~-7 # 2보수를 취하는 것입니다. (-7에게 +1한 다음에 -를 취하시면 됩니다.)

6

In [ ]:
3 << 2 
# 3을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것입니다.
# 1100

12

In [ ]:
7 >> 2

1

## 디스코드 단축키

* :ok

## 할당연산

In [ ]:
a = 10
a = a + 10
a = + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남는다.
a

10

In [ ]:
a = 10
a += 10 # a = a + 10
a

20

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

In [ ]:
# Python에서 특이하게 ++a, ++b , a++ , b++ 가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에
# 컨벤션 자료형이 어떻게 구성이되는지 확인해볼겁니다.
# id()
# is

In [ ]:
a = 256
b = 256
a is b

True

In [ ]:
a = 999
b = 999
a is b

False

In [ ]:
a = [1,2,3]
b = [1,2,3]
a is b

False

In [ ]:
a[0] = 100
a, b

([100, 2, 3], [1, 2, 3])

In [ ]:
a = [1,2,3]
b = [1,2,3]
a == b # Python에 등호는 type과 value를 봅니다.

True

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) # 이게 False면 is도 False입니다.

False

## not의 위치

In [ ]:
a = 10
b = 100
a is not b
# a not is b # error

True

In [ ]:
a = 10
b = [10,20,30]
a not in b

False

## 멤버연산

In [ ]:
'a' in 'hello a world'
'a' in 'hello world'
'a' in ['a','b']
'a' in {'a':10,'b':20}
# 10 in {'a':10, 'b':20} # dict안에 있는 value값이 있는지 확인하고 싶으면
10 in {'a':10 , 'b':20}.values()
10 in {10,20,30}

True

In [ ]:
'a' not in ['aa','bb']

True

In [ ]:
10 in [10, 20, 30]
[10] in [10,20,30]
[10] in [[10],20,30]
[10,20] in [10,20,30]
[10,20] in [[10,20],30]

True

## !! 연습문제

In [ ]:
#1번
# (a > 100) and (a < 200) = False
# (a > 100) or (a < 200) = True
# (a >= 100) and (a <= 200) = True
# (a >= 100) or (a <= 200) = True

In [ ]:
#2번
# b = 25
# (b % 2 == 0) and (b % 5 == 0) = False

In [ ]:
#3번
# c = 1000
# c // 100 = 10

In [ ]:
#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)

user_input = input()
price = int(user_input)

fts = price // 5000
price = price % 5000

ts = price // 1000
price = price % 1000

fws = price // 500
price = price % 500

ws = price // 100

print(fts,ts,fws,ws)

13500
2 3 1 0

## 함수

1. 코드를 재사용 할 수 있으며 , 실수를 줄일 수 있습니다.
2. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

# 건축 또는 집짓기?
# 신입사원이 왔을 때
# 3년에 한 번 이직
# 7년에 한번 이직
# 오래 있으신 분들
부지매입()
설계도면작성()
인력모집()
벽돌쌓기()
지붕올리기()

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)

def function(x, y):
    z = x + y
    return z
    
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1

def function(x, y):
    z = x + y
    
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 2

def function(x, y):
    z = x + y
    return None
    
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
# 같은 코드 3

def function(x, y):
    z = x + y
    return
    
print(f'function(5, 7) = {function(5, 7)}')

function(5, 7) = None

In [ ]:
def hello():
    print(1)
    print(2)
    print(3)

print(hello())

In [ ]:
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    one()
    return 

print(two())

two1
two2
one1
one2
one3
None

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100

def two():
    print('two1')
    print('two2')
    x = one()
    return x + x

print(two())

In [ ]:
# 함수 연습문제 3
def one(a,b):
    print('one1')
    print('one2')
    print('one3')
    return a+b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x,y)
    return x + x

print(two(10))

In [ ]:
# 함수 연습문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()

print(a + b)
print(a + b + c)

one
two
three
20
30

In [ ]:
# 함수 연습문제 4
# 좋지 않은 예시입니다.
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()

print(one() + two())
print(one() + two() + three())

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다.
kanghyunwoo = print
kanghyunwoo('hello') # 소괄호가 그 함수 블록을 실행시키는 명령어가 됩니다.

hello

In [ ]:
id(kanghyunwoo) , id(print)

(140534840825136, 140534840825136)

In [ ]:
l = [kanghyunwoo , print ,kanghyunwoo , print]
kanghyunwoo('hello world')
l[0]('hello world')

hello world
hello world

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

hello
hello
hello
None

In [ ]:
def hello():
    def custom_sum(a,b):
        return a + b
    return custom_sum

c = hello()
c(100,10)

110

In [ ]:
def hello(a):
    return a

c = hello(print)
c(10,100)

10 100

![image.png]()

## 함수의 기본 기능

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z = x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if type(x) != int or type(y) != int:
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5, 'abc'))

연산할 수 없습니다.

In [ ]:
# 한글코딩에 장점
# 1. 고유명사(한라산, 새싹멤버)
# 2. 알고리즘 가독성이 괜찮습니다. 프로젝트는 조금 힘들 수 있어요. 일부 모듈에서는 사용할 수 있습니다.

# 한글코딩에 단점
# 1. 싫어하시는 분도 많습니다.
# 2. 한영키 바꾸는 것것

In [ ]:
# 함수 안에 함수
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    return 100

print(one())

In [ ]:
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    return 100

print(one())

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

test
test
test

In [ ]:
# 위 원리와 마찬가지로 밖에 있는 변수를 '가져오는 것만' 가능합니다.
# 수정은 안됩니다.
test = 10

def one():
    print(test)

def two():
    print(test)

one()
two()

In [ ]:
# 이렇게 하시면 error가 납니다!. 밖에 있는 변수는 수정이 안됩니다.
test = 10

def one():
    test = test +10

one()

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 # 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.
a = 100

def f():
    global a # 실무에서는 사용 안합니다.
    a = a + 1
f()
print(a)

101

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요.
a = 100

def f(x):
    x = x +1
    return x
a = f(a)
print(a)

101

In [ ]:
# 순수 함수 # 내부에 있는 아규먼트만 이용
def f(x):
    return x + x + 100
f(10)
f(20)
# 아규먼트 값에 따라 다르지만
# 20에 2배해서 100이 더해진다는 사실은 변하지 않죠?

140

In [ ]:
test = 100

def f(x):
    return x + x + 100 + test

f(10)
# 아규먼트 값에 따라 다르지만
# 20에 2배해서 100이 더해진다는 사실은 변하지 않죠?
# 그렇지 않습니다. test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있다.
# 예측이 불가하게 되는 것

220

In [ ]:
# 지역변수 와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수
# 지역변수 : 함수 내에서만 접근할 수 있는 변수수

In [ ]:
a = 100
def one():
    a = 10
    print(a)

one()
print(a)

10
100

In [ ]:
# 어려우신 분들은 pass
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error
a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

1000
10
10
100

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x의 수정권한이 전혀 없습니다.

x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

2
2
100

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

101
1
101

In [ ]:
# error가 나는 코드
x = 100
def outer():
    x = 1
    def inner():
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다!
* 어렵고 효율도 안좋아요!(얼마나 효율이 안좋은지도 확인해해보겠습니다.)
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
# sys.setrecursionlimit -> 제한을 늘릴 수 있음
# 실행시키지 마세요.
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 펙토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1

# 1 * 2 * 3 * 4 * 5
for i in range(1,6):
    result *= i

result

120

In [ ]:
# 재귀로 펙토리얼

def f(n):
    if n <= 1:
        return 1
    else:
        return n * f(n-1)

f(5)

'''
f(5)   5 * f(4) == 5 * 24
f(4)   4 * f(3) == 4 * 6
f(3)   3 * f(2) == 3 * 2
f(2)   2 * f(1) == 2 * 1
f(1)   1
'''

120

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result

'''
result = h + ''
result = e + 'h'
result = l + 'eh'
result = l + 'leh'
result = o + 'lleh'
'''

# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1]

'olleh'

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:]) + s[0]

reverse('hello')

'''
reverse('hello') reverse('ello') + 'h'  == 'olle' + 'h'
reverse('ello')  reverse('llo') + 'e'   == 'oll' + 'e'
reverse('llo')   reverse('lo') + 'l'    == 'ol' + 'l'
reverse('lo')    reverse('o') + 'l'     == 'o' + 'l'
reverse('o')     'o'

'''

'hello'

In [ ]:
# 피보나치 for
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21 

curr = 1
next = 1

for i in range(1,6):
    curr , next = next , curr + next

next

13

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n == 2 :
        return 1
    return f(n-1) + f(n-2)

f(1),f(2),f(3),f(4),f(5),f(6)

(1, 1, 2, 3, 5, 8)

In [ ]:
# 재귀에 비효율을 이렇게 해결할 수는 있다를 보여드리기 위함
# but 가능 하면 for를 이용해주세요.
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

## !! 연습문제

In [ ]:
# 1번
# I
# love
# python

In [ ]:
def plus(num1, num2):
	return num1 + num2

def minus(num1, num2):
	return num1 - num2

def multiply(num1, num2):
	return num1 * num2

def divide(num1, num2):
	return num1 / num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

plus : 15
minus : 5
multiply : 50
divide : 2.0

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    try:
        return num1 + num2
    except:
        return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return '정수가 아니기에 연산할 수 없습니다.'

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.
def plus(num1, num2):
    if type(num1) == int and type(num2) == int:
        return num1 + num2
    return float('inf')

# 테스트 주도 개발
print(f"plus : {plus(10, 5)}")
print(f"plus : {plus(10, '5')}")
print(f"plus : {plus('10', 5)}")
print(f"plus : {plus('10', '5')}")
print(f"plus : {plus(10, 'a')}")
print(f"plus : {plus(10, True)}")
print(f"plus : {plus(False, 5)}")
print(f"plus : {plus(10, 10.1)}")

In [ ]:
float('inf') > 1000000000000000000000000

In [ ]:
plus = lambda num1, num2 : num1 + num2
minus = lambda num1, num2 : num1 - num2
multiply = lambda num1, num2 : num1 / num2
divide = lambda num1, num2 : num1 * num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

In [ ]:
x = 3

def f(n):
    if n == 0:
        return 1
    else:
        return x * f(n-1)

f(1)
# 
#

3

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 합니다.
def 제곱(x):
    def 승수(y):
        return x ** y
    return 승수

제곱3 = 제곱(3)
제곱3(4)

81

## list (리스트)

* 순서를 가진 데이터들의 집합(Sequence)
* 리스트는 값의 변경
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다.

In [ ]:
l = [1000,2000,3000,1000,2000,3000]
id(l[0]), id(l[3])

(139941352245936, 139941352245936)

In [ ]:
# 컨벤션 자료형 (딕셔너리, 튜플, 셋, 리스트)에서는
# 메모리 효율을 위해해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10,20,30,40]
l[0] = 1000
l

[1000, 20, 30, 40]

In [ ]:
s = 'hello world'
s[0] = 'k' # error
s

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
data[0][0]

2

In [ ]:
data[0][0]
[1, 2, 3][0]

1

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

data[0][0] *= 2
data[0][1] *= 2
data[0][2] *= 2
data[1][0] *= 2
data[1][1] *= 2
data[1][2] *= 2
data[2][0] *= 2
data[2][1] *= 2
data[2][2] *= 2
data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
        
for i in range (3):
    data[i][0] *= 2
    data[i][1] *= 2
    data[i][2] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
        
for i in range (3):
    for j in range(3):
        data[i][j] *= 2

data

[[2, 4, 6], [8, 10, 12], [14, 16, 18]]

In [ ]:
'''
3                   == 스칼라

[3, 4]              == 벡터

[[1,2,3],           == 매트릭스(행렬)
[4,5,6],
[7,8,9]]

[[[[1],[2],[3]],    == 텐서(다차원, 3차원 이상상)
[4,5,6],
[7,8,9]]\

텐서플로우 : 인공지능 중 유명한 라이브러리
'''

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10]*2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

[[[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]]]

In [ ]:
id(x[0][0]) , id(x[0][1])

(139941352128064, 139941352128064)

In [ ]:
l = [10,20,30]
type(l) , dir(l) , help(l)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

(list,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__delitem__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__gt__',
  '__hash__',
  '__iadd__',
  '__imul__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__reversed__',
  '__rmul__',
  '__setattr__',
  '__setitem__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'append',
  'clear',
  'copy',
  'count',
  'extend',
  'index',
  'insert',
  'pop',
  'remove',
  'reverse',
  'sort'],
 None)

## 리스트의 메서드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
l = [1,2,3]
l.append(4)
l

[1, 2, 3, 4]

In [ ]:
l = [1,2,3]
l.append([1,2,3])
l

[1, 2, 3, [1, 2, 3]]

In [ ]:
l = [1,2,3]
l.extend(4) # error
l

[1, 2, 3, 'h', 'e', 'l', 'l', 'o']

In [ ]:
l = [1,2,3]
l.extend('hello')
l

In [ ]:
l = [1,2,3]
l.extend({'one':10,'two':20})
l

In [ ]:
l = [1,2,3]
l.extend({10,20,30})
l

[1, 2, 3, 10, 20, 30]

In [ ]:
l = [1,2,3]
l.extend([1,2,3])
l

[1, 2, 3, 1, 2, 3]

In [ ]:
l = [1,2,3]
l.clear()
l

[]

In [ ]:
l = [10,20,30]
l = []
l

In [ ]:
제주과일가게 = [['바나나',1000],['수박박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게
서울과일가게[0] = ['바나나',2000]
서울과일가게 , 제주과일가게

([['바나나', 2000], ['수박박', 2000], ['딸기', 3000]],
 [['바나나', 2000], ['수박박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나',1000],['수박박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
서울과일가게[0] = ['바나나',2000]
서울과일가게 , 제주과일가게

([['바나나', 2000], ['수박박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박박', 2000], ['딸기', 3000]])

In [ ]:
제주과일가게 = [['바나나',1000],['수박박',2000],['딸기',3000]]
서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게[0] = ['바나나',2000]
서울과일가게 , 제주과일가게

In [ ]:
s = 'hello world'
s[:5]

'hello'

In [ ]:
l = [10,20,30,40,50]
l[:3]
ll = l[:]
ll

[10, 20, 30, 40, 50]

In [ ]:
id(l),id(ll)

(139941350611264, 139941350614208)

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나',1000],['수박박',2000],['딸기',3000]]
# 서울과일가게 = 제주과일가게[:] # 얕은 복사
서울과일가게 = 제주과일가게.copy() # 얕은 복사
id(서울과일가게[0]) , id(제주과일가게[0])
id(서울과일가게[0][0]) , id(제주과일가게[0][0])
서울과일가게[0][1] = 3000
서울과일가게 , 제주과일가게

([['바나나', 3000], ['수박박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박박', 2000], ['딸기', 3000]])

In [ ]:
l = [1,2,3]
ll = l[:]
l[0] = 1000
l,ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1,2,3]
ll = l.copy()
l[0] = 1000
l,ll

([1000, 2, 3], [1, 2, 3])

In [ ]:
l = [1,2,3,1,1,1,2,3,2,3,1,1]
l.count(1)

6

In [ ]:
a = [10,1,1,11,2,23,12]
a.index(11)
a[:a.index(11)]

[10, 1, 1]

In [ ]:
a = [10,20,30]
a.insert(2, 1000) # insert는 값을 지우지는 않습니다.
a

[10, 20, 1000, 30]

In [ ]:
l = [10,20,30,40,50]
l.pop()

50

In [ ]:
l

[10, 20, 30, 40]

In [ ]:
l = [10,20,30,40,50]
l.pop(0) # 많이사용합니다.
l

[20, 30, 40, 50]

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index가 들어갈 경우 index에서 뽑습니다.
# insert : index에 값을 삽입하고 원래 있던 값을 뒤로 밀어버립니다.

In [ ]:
l = [10,20,30,40,50]
l.remove(20) # 예를 들어 for를 돌면서 remove를 하지 않기 바랍니다.
l

[10, 30, 40, 50]

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

In [ ]:
# 무한 반복입니다.
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20)

In [ ]:
l = [10, 20, 30, 40 ,50 ,20 , 20 ,20]
for i in range(l.count(20)):
    l.remove(20)
l

[10, 30, 40, 50]

In [ ]:
# 실무에서
# 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
def f(x):
    return x != 20

# true인 것만 반환해줍니다.
list(filter(f , [10, 20, 30, 40 ,50 ,20 , 20 ,20]))

[10, 30, 40, 50]

In [ ]:
filter(f , [10, 20, 30, 40 ,50 ,20 , 20 ,20])

In [ ]:
range(100)

range(0, 100)

In [ ]:
for i in filter(f,[10, 20, 30, 40 ,50 ,20 , 20 ,20]):
    print(i)

10
30
40
50

In [ ]:
list(filter(lambda x: x!= 20 , [10, 20, 30, 40 ,50 ,20 , 20 ,20]))

[10, 30, 40, 50]

In [ ]:
l = [5,6,4,3,8,9,1]
l.reverse() # 역 정렬이 아닙니다. 원본을 만집니다.
l

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5,6,4,3,8,9,1]
print(list(reversed(l))) # 역 정렬이 아니고 역순이며 원본을 만지지 않습니다.
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
# l.reverse() : 리스트에 메서드 이며, return None입니다! 원본이 역순, 원본을 만집니다.
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
l = [5,6,4,3,8,9,1]
print(l.reverse())
l

None

[1, 9, 8, 3, 4, 6, 5]

In [ ]:
l = [5,6,4,3,8,9,1]
print(list(reversed(l)))
print(l)

[1, 9, 8, 3, 4, 6, 5]
[5, 6, 4, 3, 8, 9, 1]

In [ ]:
reversed(l)

In [ ]:
print(type(range(10)))

<class 'range'>

## sort

In [ ]:
l = [1,5,4,2,8,5,10,9,2,3]
l.sort() # 원본을 만지고 , 반환값은 None
l

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]

In [ ]:
l = [1,5,4,2,8,5,10,9,2,3]
print(sorted([1, 5 , 4, 2, 8, 5, 10, 9, 2, 3]))
# 원본을 만지지 않고 , 반환값은 정렬된 값
print(l)

[1, 2, 2, 3, 4, 5, 5, 8, 9, 10]
[1, 5, 4, 2, 8, 5, 10, 9, 2, 3]

In [ ]:
# 이렇게 실무에서 진행하진 않습니다.
l = [1,5,4,2,8,5,10,9,2,3]
l.sort()
l.reverse()
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [1,5,4,2,8,5,10,9,2,3]
l.sort(reverse=True) # 내림차순
l

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [1,5,4,2,8,5,10,9,2,3]
sorted(l,reverse=True) # 내림차순

[10, 9, 8, 5, 5, 4, 3, 2, 2, 1]

In [ ]:
l = [[1, 10, 'kanghyunwoo'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=sum))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

In [ ]:
# 
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한 문제인지 확인인

point = [1,3,4,8,13,17,20]
point[1:]

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip('hello','world'))

[('h', 'w'), ('e', 'o'), ('l', 'r'), ('l', 'l'), ('o', 'd')]

In [ ]:
list(zip(point,point[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
def f(x):
    return x[1]-x[0]
print(sorted(zip(point,point[1:]),key=f)[0])

(3, 4)

In [ ]:
print(sorted(zip(point,point[1:]),key=lambda x:x[1]-x[0])[0])

(3, 4)

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lesson/120835
# 응급도
# [3, 76 ,24]
# 우선순위
# [3, 1, 2]

l = [3, 76 ,24]
정렬된값 = sorted(l,reverse=True)
정렬된값 # [76 ,24 ,3]
# 우리가 원하는 값 [2,0,1]

결과값 = [
    정렬된값.index(l[0]),
    정렬된값.index(l[1]),
    정렬된값.index(l[2])
    ]

결과값

[2, 0, 1]

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1,2,3],[4,5,6]]
ll = l
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [1000,2000,3000,4000,5000,6000]
ll = l.copy()
ll[0] = 10
l, ll

([1, 2, 3, 4, 5, 6], [10, 2, 3, 4, 5, 6])

In [ ]:
l = [1000,2000,3000,1000,1000,1000]
id(l[0]), id(l[3]), id(l[4]), id(l[5])

(140430005727440, 140430005727440, 140430005727440, 140430005727440)

In [ ]:
# 얕은 복사
l = [1000,2000,3000,4000,5000,6000]
ll = l.copy()
id(l[0]) , id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(140430005718992, 140430005718992)

In [ ]:
# 얕은 복사
l = [1000,2000,3000,4000,5000,6000]
ll = l.copy()
id(l) , id(ll)

(140430482879808, 140430483091328)

In [ ]:
# 얕은 복사
l = [[1,2,3],[4,5,6]]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]) , id(ll[0])

(140430005727440, 140430005718992)

In [ ]:
# 얕은 복사는 1depth까지만 복사한다!
l = [[1,2,3],[4,5,6]]
ll = l.copy()
ll[0] = 100
l, ll

([[1, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

In [ ]:
# 깊은 복사는 끝까지 다 복사함!
import copy

l = [[1,2,3],[4,5,6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
l, ll

([[1, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
# 깊은 복사는 끝까지 다 복사함!
import copy

l = [[1,2,3],[4,5,6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

(140431251538160, 140431251538448)

In [ ]:
# 깊은 복사는 끝까지 다 복사함!
import copy

l = [[1,2,[1,[999,998]]],[4,5,[2,[333,332]]]]
ll = copy.deepcopy(l)
ll[0][2][1][0] = 10
l, ll
id(l), id(ll)
id(l[0]), id(ll[0])
id(l[0][0]), id(ll[0][0])

(140431251538160, 140431251538160)

* 얕은 복사는 1 계층만 복사합니다.
* 깊은 복사는 n 계층까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
l = [[1,2,3],[4,5,6]]
ll = l[:] # l.copy를 써도 마찬가지입니다.
l[0] = 100
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# sorted도 얕은 복사!
l = [[1,2],[3,4],[5,6]]
ll = sorted(l)
l[0][0] = 100
l, ll

([[100, 2], [3, 4], [5, 6]], [[100, 2], [3, 4], [5, 6]])

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep 해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.

l = [[1,2,3],[4,5,6]]
ll = [i for i in l]
l[0][0] = 100
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# 1단계 깊은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep해두시고
# for문 배운다음 다시 오셔서 복습하시기를 권해드립니다.
l = [[1, 2, 3], [4, 5, 6]]
ll = [i[:] for i in l]
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

## 다차원 리스트

In [ ]:
a = [[1,2,3],
     [11,22,33],
     ['kanghyunwoo',20,30]]

# 문제 : jun만 뽑아주세요!

a[2][0][-3:]
a[2][0][5:]
print(a[2][0][5],a[2][0][6],a[2][0][7],sep='')

jun

## 리스트에서 built-in function을 활용

* 알아야 하는 built-in function

    ```
    A
    abs()
    all()
    any()

    B
    bin()
    bool()

    C
    chr()

    D
    dict()
    dir()

    E
    enumerate()
    eval()

    F
    filter()
    float()

    G
    globals()

    H
    help()
    hex()

    I
    id()
    input()
    int()
    isinstance()
    issubclass()
    iter()

    L
    len()
    list()
    locals()

    M
    map()
    max()
    min()

    N
    next()

    O
    object()
    oct()
    open()
    ord()

    P
    pow()
    print()
    property()

    R
    range()
    repr()
    reversed()
    round()

    S
    set()
    setattr()
    slice()
    sorted()
    staticmethod()
    str()
    sum()
    super()

    T
    tuple()
    type()

    V
    vars()

    Z
    zip()
    ```

In [ ]:
a = [1,2,3,4,5,6,7,8]
print(max(a)) #최댓갑
print(min(a)) #최솟갑
print(sum(a)) #전체값의 합

8
1
36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

[11, 22, 33, 'aaa']

In [ ]:
# 이름 별점 객실수 가격격
호텔 = [
     ['이스트소프트 호텔',5, 100, 155000],
     ['삼스트소프트 호텔',4, 80, 145000],
     ['사스트소프트 호텔',3, 70, 135000],
      # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON에서는 엄격해서 허락하지 않습니다.)
      ]
max(호텔, key=lambda x:x[3]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[3]) # 가장 가격이 낮은 것을 뽑아낼 수 있음음

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]

max(a, key=lambda x:x[1])
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

## 리스트의 순회

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

# for 변수 in 순회가능한 객체
for i in a:
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
# 2차원
a=[[1,2,3],
   [11,22,33],
   [13,20000,300000]]

for i in a:
    print(i)
    print('---')
print('end')

[1, 2, 3]
---
[11, 22, 33]
---
[13, 20000, 300000]
---
end

In [ ]:
# 2차원
a=[[1,2,3],
   [11,22,33],
   [13,20000,300000]]

for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

1
---
2
---
3
---
11
---
22
---
33
---
13
---
20000
---
300000
---
end

## range

In [ ]:
# range(start, stop, step)
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':' (콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100))) 
# python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
print(list(range(5,10)))

print(list(range(0,101,2))) # 짝수
print(list(range(1,101,2))) # 홀수
print(list(range(100,1,-2))) 
print(sum(list(range(0,101))))
print(sum(range(0,101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]
5050
5050

## list comprehension

In [ ]:
# l = [1,2,3,4,...]
# list(range(1,100))
l = []
for i in range(1,101):
    l.append(i)
l

In [ ]:
# l = []
# for i in range(1,11):
#     l.append(i**i)
# l

l = [i**i for i in range(1,11)]
l

l = [i for i in range(1,11)]
l

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)

[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.

In [ ]:
t = (10 ,20 ,30)
t[1] = 1000

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변변
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

In [ ]:
type(t), dir(t)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
t = (10, 20, 30, 40 , 50, 20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t = tuple('kanghyunwoo')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) # 얘는 안됨. 튜플 아님.
t
t = (1,) # 원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다. 
t

1

## dict (딕셔너리, 사전형)

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
{
    '게시물 번호' : 1,
    '게시자' : '이호준',
    '게시물 내용' : '.....'
}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} #dict
type(d)

d = {10} #set
type(d)

d = dict()
type(d)

d = {'one' : 1}
type(d)

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
dict([['one', '하나'], ['two', '둘'], ['three', '셋']])

ValueError: ignored

In [ ]:
dict(name='kanghyunwoo', age=10)

{'name': 'leehojun', 'age': 10}

In [ ]:
list(zip('ABC','123','abc'))

dict(zip('ABC','123'))

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# dict와 zip를 사용해서 아래와 같은 형태로 데이터를 만들어주세요.

# 원하는 형태 {'A' : [10,20], 'B' : [20:30], 'C' : [30,40]}

In [ ]:
dict(zip('ABC',[[10,20],[20,30],[30,40]]))
dict(zip('ABC',[list(elem) for elem in zip([10,20,30],[20,30,40])]))
l = [10,20,30,40]
dict(zip('ABC', zip(l,l[1:])))

{'A': (10, 20), 'B': (20, 30), 'C': (30, 40)}

In [ ]:
'B' in {'A': (10, 20), 'B': (20, 30), 'C': (30, 40)}

True

In [ ]:
len({'A': (10, 20), 'B': (20, 30), 'C': (30, 40)})

3

In [ ]:
# 공부해두시면 좋습니다!

def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }[day]

switch(7)
# switch(8) #error

'일요일'

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day)

switch(7)
switch(8) # get을 사용하시면 None을 줍니다.

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(7)
switch(8) # get을 사용하시면 못찾는 값을 넣었을 때 '요일을 찾지 못했습니다.' 값을 줍니다.

In [ ]:
!python --version

Python 3.10.11

In [ ]:
# 3.10버전 최신 문법
def number_to_string(agrument):
    match agrument:
        case 0:
            return "zero"
        case 1:
            return "one"
        case 2:
            return "two"
        case default:
            return "nothing"


print(number_to_string(0))

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s += i

1.17 ms ± 371 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum([i for i in range(10000)])

In [ ]:
%%timeit

sum(range(10000))

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
dict.fromkeys('kanghyunwoo')

{'k': None,
 'a': None,
 'n': None,
 'g': None,
 'h': None,
 'y': None,
 'u': None,
 'w': None,
 'o': None}

In [ ]:
dict.fromkeys('kanghyunwoo',100)

{'k': 100,
 'a': 100,
 'n': 100,
 'g': 100,
 'h': 100,
 'y': 100,
 'u': 100,
 'w': 100,
 'o': 100}

In [ ]:
keys = ('name','age','grade')
values = ('lee','ho','jun')

dict.fromkeys(keys,values)

{'name': ('lee', 'ho', 'jun'),
 'age': ('lee', 'ho', 'jun'),
 'grade': ('lee', 'ho', 'jun')}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

{'one': 1, 'two': 2, 'three': '셋'}

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

two
three

In [ ]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

2
셋

## 언패킹

In [ ]:
# 패킹   : 1, 2, 3 => [1,2,3]
# 언패킹 : [1,2,3] => 1, 2, 3

In [ ]:
a, b, c = 10, 20, 30
a

10

In [ ]:
a,b,c = (10,20,30) # 소괄호든 대괄호든 상관 없습니다.
a

10

In [ ]:
i , j = [10,20]
i

10

In [ ]:
for i , j in [[10,20],[30,40],[50,60]]:
    print(i,j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10,20,[1,2]],[30,40,[3,4]],[50,60,[5,6]]]:
    print(i,j,k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
for i, j in d.items():
     print(i, j)

one 1
two 2
three 셋

## max를 이용한 dict 최대 value key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
 }

# max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
max(d, key=lambda x: d[x])
max(d, key=d.get) # 많이 사용되는 코드입니다.

'test3'

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며 
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{'o', ' ', 'l', 'h', 'w', 'r', 'e', 'd'}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10,20})
print(n)

{1, 2, 3, 4, 20, 10}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

* pop은 실무에서 잘 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다. 높은 확률로 앞에서부터 뽑아내긴 하지만 확률에 기대는 코딩을 하지 않기를 바랍니다. 공식문서에서는 랜덤하게 뽑아낸다고 되어 있습니다.
* https://docs.python.org/3.11/library/stdtypes.html#frozenset.pop

In [ ]:
# 교집합 별 3개 ★★★
a = {1,2,3}
b = {3,4,5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합
a = {1,2,3}
b = {3,4,5}
a | b
a.union(b)
# a + b # error set은 더하기가 안됨

{1, 2, 3, 4, 5}

In [ ]:
# 합집합
a = {1,2,3}
b = {3,4,5}
a - b
a.difference(b)

{1, 2}

In [ ]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1,2})
ss.issubset({3,4})

False

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string        result
# "people"        "peol"

In [ ]:
# my_string        result
# "people"        "peol"

result = ''
for i in 'people':
    if i not in result:
        result += i
result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'elop'

In [ ]:
{'e', 'l', 'o', 'p'}

def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

'peol'

## !! 연습문제

In [ ]:
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}

# - 학생들의 **총점**을 구하는 코드를 작성하세요.
sum(student_score.values())
# - 학생들의 **평균 점수**를 구하는 코드를 작성하세요.
sum(student_score.values()) / len(student_score)
# - 점수가 가장 **높은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요.
student = max(student_score, key=student_score.get) # 이름
student_score[student] # 가장 큰 점수
# - 점수가 가장 **낮은** 학생의 이름과 그 점수를 구하는 코드를 작성하세요.
student = min(student_score, key=student_score.get)
student_score[student]

80.4

In [ ]:
# 강사님 정답
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

list(set(like) - set(dislike))

['라면', '볶음밥', '짜장면', '치킨']

In [ ]:
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']

final = []
for i in like:
    if i not in dislike:
        final.append(i)
final

['볶음밥', '라면', '치킨', '짜장면']

## (질의응답) max(student_score,key=student_score.get)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = [10, 20, 30, 40, 50, 60, 70, 80]

max(l, key=함수)

2 30
4 50
5 60
3 40
6 70
0 10
7 80
1 20

7

In [ ]:
def 함수(x):
    print(x, len(ll[x]))
    return len(ll[x])

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

2 2
4 1
5 4
3 3
6 11
0 5
7 2
1 1

6

In [ ]:
def 함수(x):
    return d.get(x)

d = {
      'test1': 10,
      'test2': 20,
      'test3': 31,
      'test4': 11,
}

max(d, key=함수)
max(d, key=d.get)
# max(d, key=lambda x: d[x])

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return len(x)
l = ['a','bb','ccc','dd']

max(l, key=함수)
max(l, key=len)

'ccc'

In [ ]:
def 함수(x):
    return d.get(x)

수학 = {
      '학생1': 10,
      '학생2': 20,
      '학생3': 31,
      '학생4': 11,
}

과학 = {
      '학생1': 11,
      '학생2': 17,
      '학생3': 13,
      '학생4': 11,
      '학생5': 25,
      '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)

'학생2'

## (질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) #실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen = 100, ...)
# 어? 컨트롤 박스를 만드는 구나...

100 200 300
100 200 300

In [ ]:
def f(a=10, b=20, c=30):
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

In [ ]:
def f(a=10, b=20, c): # c만 default value를 안주게 되면 error, 순서대로 안주어야 합니다.
    print(a, b, c)

# f() # error
# f(100, 10) # error
# f(a=100, b=200, c=300) # error
# f(c=300, a=100, b=200) # error
# f(c=300) # error

SyntaxError: ignored

In [ ]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

100 10 10
100 200 300
100 200 300

## (질의응답) zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)

(1, 'a')

In [ ]:
next(i)

(2, 'b')

In [ ]:
next(i)

(3, 'c')

In [ ]:
next(i) # StopIteration

In [ ]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

1
4
9

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

2
3

In [ ]:
# 계속 순회가 가능하게 설계가 되어 있습니다.
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다.
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

1
2
3
1
2
3

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1 and x < 10:
    print('Hello')

Hello

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if 12309:
    print('hello')

hello

In [ ]:
def f():
    return False # True
if f():
    print('hello')
    print('one')
print('two')

two

In [ ]:
if '': # [].{}.'' 는 모두 False 취급 합니다.
    print('hello')
    print('one')
print('two')

two

In [ ]:
if ' ': # 공백이 있는 것입니다.
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if [                   ]: # 공백이 있는 것입니다.
    print('hello')
    print('one')
print('two')

two

In [ ]:
if [,]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 공백은 병합합니다.
    ]:
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if None:
    print('false')

In [ ]:
class int(int):
    def __eq__(self, next):
        return True

if int('11') == int('10'):
    print('hello')

hello

In [ ]:
if 10 > 11:
    print('one')
    print('two')
print('three')
else: # error
    print('four')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
else: # error
    print('three')

three

In [ ]:
# else가 없어도 되는 경우
def f():
    if 10>11:
        return 'one'
    return 'two'

print(f())

two

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        print('one')
        
if x > 5 and type(x) == int:
    print('one')

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x > 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')
        
if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
if True:
    print('hello')
else:
    print('hello')
else: # error
    print('hello')
else:
    print('hello')

In [ ]:
if True:
    print('hello')
if True:
    print('hello')
if True:
    print('hello')
else:
    print('hello')

hello
hello
hello

In [ ]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

hello

In [ ]:
elif True: # error 위에 구문이 있어야 합니다.
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70 and score < 80: # 그렇지 않고 만약에 ... 그렇지 않나요?
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60 and score < 70:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if,elif,else 구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

In [ ]:
# Ctrl + M, M 누르시면 코드블록이 마크다운 블록이 됩니다.
# Ctrl + M, Y 누르시면 마크다운이 코드 블록이 됩니다.

## if 심화

In [ ]:
# 저는 개인적으로 해당 문법이 가독성을 떨어트린다라고 생각해서
# 권장하진 않습니다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

hello

In [ ]:
if 1 > 5: print('hello')
elif 5 > 1: print('world')

world

In [ ]:
if 1 > 5: print('hello')
elif 1 > 5: print('world')
else: print('hello world')

hello world

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

one

In [ ]:
(print('one') if 5 > 1 else print('two'))

one

In [ ]:
# error 이렇게 사용하지 않습니다.
if 5 > 1 print('one') else print('two')

In [ ]:
if 5 > 1:
    print('one') 
else:
    print('two')

In [ ]:
# 할당이나 return에서 많이 사용합니다.
# 할당이나 return을 할 때 어떤 조건을 달고 싶을 때
# 그런데 일반 if문과 else문이 거창하다고 생각이 되었을 때.
y = 100
x = 'one' if y > 80 else None

In [ ]:
x

'one'

In [ ]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x

print(f(100))
print(f(30))

one
None

In [ ]:
def f(y):
    if y > 80:
        return 'one'
    return None

print(f(100))
print(f(30))

one
None

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(30))

one
None

In [ ]:
def custom_sum(x):
    return sum(x)

custom_sum([1,2,3,4,5,6]) # 21
custom_sum([1,2,3,4,'5',6]) # float('inf')

In [ ]:
# 이해를 위해 만든 예제이지 효율적이진 않습니다.

def custom_sum(x):
    return sum(x) if len(list(filter(lambda x: type(x)==int, x))) == len(x) else float('inf')

custom_sum([1,2,3,4,5,6]) # 21
custom_sum([1,2,3,4,'5',6]) # float('inf')

inf

In [ ]:
l = [1,2,3,'4','5']
list(filter(lambda x: type(x)==int,l))
len(list(filter(lambda x: type(x)==int,l)))
len(l)

5

In [ ]:
x = 10
# 문제 : 다음 if문을 3항 연산자로 표현해주세요.
if x % 2 == 0:
    홀짝여부 = '짝수'
else:
    홀짝여부 = '홀수'

# 답
x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'

In [ ]:
# 지금하는 것은 위 보다 빈도도 거의 없습니다.
# 3항 연산자의 중첩
# '1번째 조건 True일 때' if '조건1' else '조건1이 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 모두 false일 때'

In [ ]:
# '1번째 조건 True일 때' 
# if '조건1' 
# else '조건1이 False이고 조건2가 True일 때' 
#     if '조건2' 
#     else '조건1, 조건2가 모두 false일 때'

In [ ]:
x = 15
if x % 2 == 0:
    배수 = '2X' # 2의 배수
elif x % 3 == 0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다.

배수

'3X'

In [ ]:
x = 17
배수 = '2X' if x % 2 == 0 else '3X' if x % 3 == 0 else '?'

배수

'?'

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#     code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 # 순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

In [ ]:
for i in 10: # error
    print(i)

In [ ]:
for i in 10.1: # error
    print(i)

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
for i in (1,2,3):
    print(i)

In [ ]:
for i in {1,2,3}:
    print(i)

In [ ]:
for i in {'one':1,'two':2,'three':3}:
    print(i)

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed ...  
for i in range(10):
    print(i)

In [ ]:
언어순위 = ['Python','JavaScript','JAVA','Ruby']
for i in 언어순위:
    print(i)

Python
JavaScript
JAVA
Ruby

In [ ]:
언어순위 = ['Python','JavaScript','JAVA','Ruby']
for i in enumerate(언어순위):
    print(i)

(0, 'Python')
(1, 'JavaScript')
(2, 'JAVA')
(3, 'Ruby')

In [ ]:
언어순위 = ['Python','JavaScript','JAVA','Ruby']
for i in enumerate(언어순위, 1):
    print(i)

(1, 'Python')
(2, 'JavaScript')
(3, 'JAVA')
(4, 'Ruby')

In [ ]:
언어순위 = ['Python','JavaScript','JAVA','Ruby']
for i in enumerate(언어순위, 101):
    print(i)

(101, 'Python')
(102, 'JavaScript')
(103, 'JAVA')
(104, 'Ruby')

In [ ]:
언어순위 = ['Python','JavaScript','JAVA','Ruby']
for i,j in enumerate(언어순위, 101):
    print(i,j)

101 Python
102 JavaScript
103 JAVA
104 Ruby

In [ ]:
for _ in range(3):
    print('hello world')

hello world
hello world
hello world

In [ ]:
for _ , i in [[1,2],[3,4],[5,6]]:
    print('hello world')
    print(i)

hello world
2
hello world
4
hello world
6

In [ ]:
s = 0
for i in range(0, 101, 2):
    s += i
s

2550

In [ ]:
listx= [100,200,300,400]
strx= 'abcd'
dictx = {'one':1, 'two':2}

listxlter = iter(listx)
strxlter= iter(strx)
dictxlter= iter(dictx)

# 시퀀스형 자료형에만 next가 되는 것이 아니고 
# next 다음 순회 값을 지정할 뿐입니다.
print(next(listxlter), next(listxlter), next(listxlter), next(listxlter))
print(next(strxlter), next(strxlter), next(strxlter), next(strxlter))
print(next(dictxlter), next(dictxlter))

100 200 300 400
a b c d
one two

In [ ]:
# for True: # 이렇게 사용하지는 못합니다.
for i in [1, 2, 3]:
    print(i)

## break과 continue

In [ ]:
for i in range(10):
    print(i)
    if i == 5:
        break

0
1
2
3
4
5

In [ ]:
# 모든 for가 중단이 되는 것은 아닙니다!
# 자신을 감싸고 있는 단일 반복문만 탈출합니다.
for i in range(10):
    print('----------------')
    print(i)
    for j in range(10):
        print(i, j)
        if i == 5:
            break

----------------
0
0 0
0 1
0 2
0 3
0 4
0 5
0 6
0 7
0 8
0 9
----------------
1
1 0
1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
----------------
2
2 0
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
----------------
3
3 0
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
----------------
4
4 0
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
----------------
5
5 0
----------------
6
6 0
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
----------------
7
7 0
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
----------------
8
8 0
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
----------------
9
9 0
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [ ]:
# continue는 다음 루프로 갑니다.
# 아래 코드에서 continue는 의미가 없습니다.
for i in range(10):
    print(i)
    if i == 5:
        continue

0
1
2
3
4
6
7
8
9

In [ ]:
# continue는 다음 루프로 갑니다.
# 아래 코드에서 continue는 아래 print를 실행시키지 않고
# 다음 루프로 가게됩니다.
for i in range(10):
    if i == 5:
        continue
    print(i)

In [ ]:
# pass는 공백을 채워주는 역할만 한다.
for i in range(10):
    if i == 5:
        pass
    print(i)

In [ ]:
for i in range(10):
    print(i)
    i += 2

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [ ]:
# 실행과 동시에 정지를 눌러주세요.
# 무한 반복입니다.
# 아래 코드는 효율적이지 못하니
# 뒤에서 배울 generator로 무한반복을 구현해주세요.
l = [1]
for i in l:
    l.append(i+1)
    print(i)

## for와 else 구문

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
for i in range(10):
    if i == 5:
        break
else:
    print('정상 종료')

In [ ]:
# 반복문 + else 구문은
# 반복문이 break를 쓰지 않고 정상 종료되었을 때
# else 구문이 실행됩니다.

for i in range(10):
    if i == 5:
        pass
else:
    print('정상 종료')

정상 종료

## 리스트 표현식(list comprehension)

In [ ]:
# 별 3.5개
# 리스트 안에 반복문이나 조건문을 넣어 한 번에 리스트를 생성하는 기법
# 리스트 표현식은 for보다 빠릅니다! (가독성 + 속도우위)

l = []
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# 이 정도만 하실 수 있으면 우리 수업에서는 문제 없습니다.
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
l

[0, 2, 4, 6, 8]

In [ ]:
[i for i in range(10) if i % 2 ==0]

[0, 2, 4, 6, 8]

In [ ]:
list(range(0, 10, 2)) # 이것도 가능하고, 직관적이죠.

[0, 2, 4, 6, 8]

In [ ]:
l = ['aa','abc','bbb','ccc','aba']
[i for i in l if 'a' in i]

['aa', 'abc', 'aba']

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0:
        l.append(i)
    elif i % 3 == 0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
l = []
for i in range(10):
    if i % 2 == 0 or i % 3 == 0:
        l.append(i)
l

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
[i for i in range(10) if i % 2 == 0 or i % 3 == 0]

[0, 2, 3, 4, 6, 8, 9]

In [ ]:
# [i for i in range(10) if i % 2 == 0 elif i % 3 == 0] # error

In [ ]:
# 구구단
# 손으로 꼭 순회 1번씩 돌아보셔야 합니다.
# for i in range(2, 10):
#     for j in range(1, 10):
#         print(i, j, i*j)

'''
# step 0
# 이렇게 손이나 문자열로 늘여트려놓고
# 내가 무엇을 줄일 수 있을까?를 고민하세요.
2 1 2
2 2 4
2 3 6
2 4 8
2 5 10
2 6 12
2 7 14
2 8 16
2 9 18
3 1 3
3 2 6
3 3 9
3 4 12
3 5 15
3 6 18
3 7 21
3 8 24
3 9 27
'''

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 99)

# step 1 ~ 100 이렇게 하나씩 줄여가면 됩니다.
# for i in range(1, 10):
#     print(2, i, 2*i)

for 단 in range(2, 10):
    for i in range(1, 10):
        print(단, i, 단*i)

In [ ]:
# 별찍기
# 트리만드는 문제도 있고, 원 만드는 문제도 있고...
'''
*
**
***
****
*****
'''

In [ ]:
user_input = int(input('찍을 별의 층수?'))
for i in range(1, user_input+1):
    print('*'*i)

찍을 별의 층수?5
*
**
***
****
*****

In [ ]:
l = []
for i in range(2, 10):
    for j in range(1, 10):
        l.append([i, j, i*j])
l

In [ ]:
[[i, j, i*j] for i in range(2, 10) for j in range(1, 10)]

## 다중 리스트 순회

In [ ]:
skill = [
        ('고기잡이', 100),
        ('고기팔기', 120),
        ('낚시', 5),
        ('통발', 5),
        ('큰그물', 5)
]

for i,j in skill:
    print(i,j)

In [ ]:
skill_name = ['고기잡이','고기팔기','낚시']
skill_point = [100,120,5]

for i,j in zip(skill_name,skill_point):
    print(i,j)

In [ ]:
# 이정도 코드만 아셔도 실무하는 것에는 무리가 없습니다.
skill = [
        ('고기잡이', [1,100]),
        ('고기팔기', [1,100]),
        ('낚시', [2,100]),
        ('통발', [2,100]),
        ('큰그물', [2,100])
]

for i,j in skill:
    print(i,j)

In [ ]:
skill = [
        ('고기잡이', [1,100]),
        ('고기팔기', [1,100]),
        ('낚시', [2,100]),
        ('통발', [2,100]),
        ('큰그물', [2,100])
]

for i,[x, y] in skill:
    print(i,x,y)

고기잡이 1 100
고기팔기 1 100
낚시 2 100
통발 2 100
큰그물 2 100

In [ ]:
skill = [
        ('고기잡이', (1, 100)),
        ('고기팔기', (1, 100)),
        ('낚시', (2, 100)),
        ('통발', (2, 100)),
        ('큰그물', (2, 100))
]

for i, [x, y] in skill:
    print(i, x, y)

In [ ]:
skill = [
        ('고기잡이', 'ab'), # ('고기잡이','abcd') 이런 형태는 error 
        ('고기팔기', 'cd'),
        ('낚시', 'aa'),
        ('통발', 'cc'),
        ('큰그물', 'dd')
]

for i, [x, y] in skill:
    print(i, x, y)

In [ ]:
# 문제
# data는 다음과 같은 데이터가 있습니다.
# 각각 skill이름, skill 제한 레벨, skill 포인트, skill 등급입니다.
data = [
        ('고기잡이', 1, 100,'S'),
        ('고기팔기', 1, 100, 'A'),
        ('낚시', 2, 100, 'A'),
        ('통발', 2, 100,'B'),
        ('큰그물', 2, 100, 'S')
]

# 출력값
# 아래와 같은 형식으로 총 5개 출력해야 합니다.
# '축하합니다. S등급에 Skill 고기잡이를 습득하셨습니다. 
# 해당 스킬은 레벨 제한 1에 스킬 포인트 100입니다.

In [ ]:
# print는 부하가 크다. 여러번 반복사용 X
data = [
        ('고기잡이', (1, 100, 'S')),
        ('고기팔기', (1, 100, 'A')),
        ('낚시', (2, 100, 'A')),
        ('통발', (2, 100, 'B')),
        ('큰그물', (2, 100, 'S'))
]

for i,[j,k,l] in data:
    print(f'축하합니다. {l}등급에 Skill {i}를 습득하셨습니다.')
    print(f'해당 스킬은 레벨 제한 {j}에 스킬 포인트 {k}입니다.')

## while

In [ ]:
# 반복문 : for, while
a = 1
while a < 10: # True인 동안에
    print(a)
    a += 1

In [ ]:
# while 특정요소:
#     특정요소값 꺼내는 문법
#     특정요소가 모두 없어질 때 까지

l = [1,2,3]
while l: # [] = false
    print(l.pop())

In [ ]:
l = {1,2,3}
while l:
    print(l.pop())

In [ ]:
s = 'abkkkbbbbbccdennnnneefefg'
ss = set(s)
while ss:
    string = ss.pop()
    print(string, s.index(string))

e 13
g 24
a 0
d 12
k 2
c 10
b 1
n 14
f 21

In [ ]:
# 이러한 무한반복은 메모리를 모두 소진합니다.
# 서버가 뻗을 수도 있습니다.
while True:
    user_input = input('$')
    split_data = user_input.split(' ') 
    if split_data[0] == 'mkdir':
        print(f'{split_data[1]} 폴더가 생성되었습니다!')
    elif split_data[0] == 'rmdir':
        print(f'{split_data[1]} 폴더가 삭제되었습니다!')
    elif split_data[0] == 'exit':
        print('프로그램을 종료합니다.')
        break

In [ ]:
import random

random.randint(1,100)

98

In [ ]:
# up down game
import random

result = random.randint(1,100)

while True:
    user_input = int(input())
    if user_input > result:
        print('DOWN')
    elif user_input < result:
        print('UP')
    elif user_input == result:
        print('맞췄습니다.')
        print('프로그램을 종료합니다.')
        break

50
DOWN
33
DOWN
20
맞췄습니다.
프로그램을 종료합니다.

In [ ]:
# 구구단이 출력되지 않는 코드
# 한땀한땀 따라가면서 왜 출력이 되지 않는지 체크해보세요.
x = 2
y = 1
while x < 10:
    while y < 10:
        print(x,y, x*y)
        y += 1
    x +=1

In [ ]:
x = 2
y = 1
while x < 10:
    while y < 10:
        print(x,y, x*y)
        y += 1
    y = 1 # 초기화를 해주어야 다음 while에서 y < 10에 들어갈 수 있다.
    x += 1

In [ ]:
count = 0
while True:
    print(count)
    if count == 5:
        break
    count += 1
print('end')

0
1
2
3
4
5
end

In [ ]:
# 무한루프
count = 0
while True:
    print(count)
    if count == 0.3: # 부동소수점 문제가 발생할 수 있습니다.
        break
    count += 0.1
print('end')

In [ ]:
# 0.30000000000000004
count = 0
while True:
    print(count)
    if count >= 0.3: # 부동소수점 문제가 발생할 수 있습니다.
        break
    count += 0.1
print('end')

0
0.1
0.2
0.30000000000000004
end

In [ ]:
# 다른 언어에서는 이 구문이 작동되지 않습니다.
i = 0
while i < 10:
    if i == 5:
        break
    i += 1
else:
    print('정상종료!')

In [ ]:
i = 0
while i < 10:
    i += 1
else:
    print('정상종료!')

* https://school.programmers.co.kr/learn/courses/30/lessons/120871

In [ ]:
# step1
count10 = 0
n = 15
while count10 < n + 1:
    print(count10)
    count10 += 1

In [ ]:
# step2 조건만 구현
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 10
while count10 < n + 1:
    count10 += 1
    count3 += 1
    if count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자일 수 있습니다.
    # 체크를 계속해야하는데 한번만 합니다.
    print(count10, count3)

count3

In [ ]:
# step3 조건만 간단히 구현 => 조건이 계속 반복되도록
count10 = 0
count3 = 0 # 3x 마을에서 쓰는 숫자
n = 10
while count10 < n:
    count10 += 1
    count3 += 1
    while count3 % 3 == 0 or '3' in str(count3):
        count3 += 1
    # 저주의 숫자를 지나가도 다시 저주의 숫자일 수 있습니다.
    # 체크를 계속해야하는데 한번만 합니다.
    print(count10, count3)

In [ ]:
def solution(n):
    count10 = 0
    count3 = 0
    while count10 < n:
        count10 += 1
        count3 += 1
        while count3 % 3 == 0 or '3' in str(count3):
            count3 += 1
    return count3

In [ ]:
def solution(n):
    return [i for i in range(1, 31) if i % 3 != 0 and not('3' in str(i))][n-1]

In [ ]:
[i for i in range(1, 31) if i % 3 != 0 and not('3' in str(i))][n-1]

16

## try, except, else

In [ ]:
# try:
#     실행문
# except:
#     예외 발생 시 처리문
# else:
#     예외 발생하지 않을 경우 실행문

In [ ]:
try:
    i = 1
    j = 0
    x = i/j
except:
    print('error')
else:
    print(x)

error

## 실제 데이터를 가지고 연습 (json gen)

In [ ]:
data = [
  {
    "_id": "6459ca23093ecd0e9bae0be6",
    "age": 34,
    "eyeColor": "brown",
    "name": "Emerson Cline",
    "gender": "male"
  },
  {
    "_id": "6459ca23cf1ae04ae9547317",
    "age": 27,
    "eyeColor": "blue",
    "name": "Brianna West",
    "gender": "female"
  },
  {
    "_id": "6459ca232d16c59869dc5b54",
    "age": 24,
    "eyeColor": "brown",
    "name": "Kathrine Cooley",
    "gender": "female"
  },
  {
    "_id": "6459ca23b6c2bd1e9457ec55",
    "age": 37,
    "eyeColor": "blue",
    "name": "Odonnell Meadows",
    "gender": "male"
  },
  {
    "_id": "6459ca23dd62d4a4739fe0a5",
    "age": 33,
    "eyeColor": "brown",
    "name": "Polly Baldwin",
    "gender": "female"
  },
  {
    "_id": "6459ca23b11b14dd06f9d7cb",
    "age": 31,
    "eyeColor": "brown",
    "name": "Callahan Haley",
    "gender": "male"
  }
]
# 반복문을 사용해도 좋지만 ,
# 반복문을 사용하실 수 없다면 index로만 게산하셔도 좋습니다.
data[0]
data[0]['age']
data[0]['gender']

34

In [ ]:
all_people = len(data)
total_age = 0
male = 0
female = 0

for human in data:
    total_age += human['age']
    if human['gender'] == 'male':
        male += 1
    elif human['gender'] == 'female':
        female += 1

# 나이 평균
age_avr = total_age / all_people

# 남녀 성비
male_per = male / all_people
female_per = female / all_people

3
3

In [ ]:
sum([human['age'] for human in data]) / len(data)
all_gender = [human['gender'] for human in data]
male_per = (all_gender.count('male') / len(data)) *100
female_per = (all_gender.count('female') / len(data))*100
male_per , female_per

(50.0, 50.0)

In [ ]:
##################################################################

In [ ]:
#Lv0
(data[0]['age'] + data[1]['age'] + data[2]['age']) / 3

성별 = []
성별.append(data[0]['gender'])
성별.append(data[1]['gender'])
성별.append(data[2]['gender'])
print(성별)
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
#Lv1
age_sum = 0
for i in range(3): # 좋은 코드는 아닙니다.
    age_sum += data[i]['age']
age_sum / 3

성별 = []
for i in range(3):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
#Lv1
age_sum = 0
for i in range(len(data)):
    age_sum += data[i]['age']
age_sum / 3

성별 = []
for i in range(len(data)):
    성별.append(data[i]['gender'])
print(성별.count('male') / len(data) * 100)
print(성별.count('female') / len(data) * 100)

In [ ]:
##################################################################

In [ ]:
# Lv2

# 평균(1줄)
# list(map(lambda x:x['age'],data))
sum(map(lambda x:x['age'],data)) / len(data)

# 성별(1줄)
len(list(filter(lambda x:x['gender']== 'male', data))) / len(data)
len(list(filter(lambda x:x['gender']== 'female', data))) / len(data)

0.5

In [ ]:
# Q1
# sol1
sum([elem['age'] for elem in data]) / len(data)

# sol2
sum(map(lambda x:x['age'], data)) / len(data)

# Q2
gender = [elem['gender'] for elem in data]
male = gender.count('male')
female = gender.count('female')
print(f'{male/len(gender)*100:.2f} : {female/len(gender)*100:.2f}')

In [ ]:
average_age = sum(map(lambda x: x['age'], data))/len(data)
male = len(list(filter(lambda x: x['gender'] == 'male', data)))
female = len(list(filter(lambda x: x['gender'] == 'female', data)))

print(f'평균나이는 {average_age} 입니다.\n성비는 남성 {male} : 여성 {female} 입니다.')

## 알아야하는 built-in function

### 수학적 통계에 활용되는 함수

- abs( ) : 괄호 안에 있는 값을 절대값으로 출력해줍니다.
- all( ) : 괄호 안에 있는 값들이 모두 True(False)일 때 True(False)를 출력합니다.
- any( ) : 괄호안에 있는 값이 하나라고 True이면 True로 출력합니다.
- pow( ) : 제곱을 출력합니다.
- max( ) : 값의 최댓값을 출력합니다.
- min( ) : 값의 최솟값을 출력합니다.
- sum( ) : 값의 합계를 출력합니다.
- len( ) : 문자열의 길이를 출력합니다.
- sorted( ) : 데이터를 정렬해줍니다.
- reversed( ) : 정렬되지 않은 상태에서 값을 역순으로 출력합니다.

### 형변환 함수

- set( )
- dict( )
- hex( ) : 16진법
- bin( ) : 2진법
- oct( ) : 8진법
- bool( )
- str( )
- ord( ) : 각각의 문자에 대한 숫자값을 출력해줍니다.(유니코드표를 참고하세요.)
- float( )
- tuple( )
- chr( ) : 숫자값을 통해서 문자를 출력합니다.
- list( )
- range( )
- complex( )

### 도움말

In [ ]:
def hojun():
    '''
    이호준이 만든 함수
    '''
    pass

help(hojun)

Help on function hojun in module __main__:

hojun()
    이호준이 만든 함수

### object 관련 함수

* dir()
* id()
* type()

In [ ]:
# dir() # directory에 약자로 대상이 가진 attribute를 모두 출력합니다.
# attribute가 무엇인가? class에서 배울 멤버 + 메서드 입니다.

In [ ]:
def f():
    return 100

f.name = 'kanghyunwoo'
dir(f)
print(f.name)

leehojun

In [ ]:
# 배우는 재미
# 단 시간에 될 수 없습니다. => 경쟁력

In [ ]:
i = 10
id(i) # 깊은복사 , 얕은복사

139989167669776

In [ ]:
type('abc') # str
print(type('abc')) # <class 'str'>
# print(type(f)) # class가 전체 python을 관통하고 있습니다.

## 유용한 순회 가능 객체

- enumerate( ) : 값에 순위를 매기고 싶을 때 사용합니다.
- range( )
- filter( )
- zip( )
- map( )

In [ ]:
print(type(range(3)))

<class 'range'>

In [ ]:
list(enumerate([10,20,30]))

[(0, 10), (1, 20), (2, 30)]

In [ ]:
list(enumerate([10,20,30],100))
# list(enumerate([10,20,30],'abc')) # error 뒤에 숫자를 입력해야 합니다.

[(100, 10), (101, 20), (102, 30)]

In [ ]:
def 함수(x):
    return x > 15

list(filter(함수,[10,20,30,40]))
list(filter(None,[True,True,False,False]))
# filter에 None 주는 것이 어디에 유용할까요?
# 여러가지 자료형이 섞여 있을 때 값이 들어있는 것만 찾을 경우
list(filter(None,[[],'abc','','']))

['abc']

In [ ]:
list(zip('abc','def','ght',[1,2,3,],[4,5,6,7]))

[('a', 'd', 'g', 1, 4), ('b', 'e', 'h', 2, 5), ('c', 'f', 't', 3, 6)]

In [ ]:
x = [5,4,6,8,2]
list(zip('abcdefg',sorted(x)))

[('a', 2), ('b', 4), ('c', 5), ('d', 6), ('e', 8)]

In [ ]:
x = [5,4,6,8,2]
y = [7,6,45,4,2,3,3]

list(zip('abcdefg',zip(sorted(x),y)))

[('a', (2, 7)), ('b', (4, 6)), ('c', (5, 45)), ('d', (6, 4)), ('e', (8, 2))]

## args,kargs

* 가변 아규먼트, 가변 키워드 아규먼트

In [ ]:
def print_args(*args): # 꼭 args가 될 필요는 없습니다.
    print(args)

print_args(100, True, 'kanghyunwoo')

(100, True, 'leehojun')
100
True
leehojun

In [ ]:
def print_kwargs(a, **kwargs): # 꼭 kargs가 될 필요는 없습니다.
    print(a)
    print(kwargs)

print_kwargs(100, name='kanghyunwoo', age='10')

(100, True, 'leehojun')

In [ ]:
def print_args(*args, b): # error입니다.
    print(args)

print_args(100, True, 'kanghyunwoo')

100
{'name': 'leehojun', 'age': '10'}

In [ ]:
def print_args(b, *args): # error입니다.
    print(args)

print_args(100, True, 'kanghyunwoo')

In [ ]:
def print_args(b, *args): # error입니다. args 앞에 순서대로 넣을 변수가 있어야 합니다.
    print(args)

print_args(100, True, b='kanghyunwoo')

In [ ]:
one, two, *three = 1, 2, 3, 4, 5 # *가 하는 역할은? 남은 것들을 패키징함.
print(one, two, three)

1 2 [3, 4, 5]

## lambda

* lambda는 익명함수라고 하며, 이름이 없는 함수

In [ ]:
kanghyunwoo = lambda x : x**2

In [ ]:
print(type(kanghyunwoo))

In [ ]:
print(type(lambda x : x**2))

In [ ]:
print(dir(lambda x : x**2))

In [ ]:
def 함수(x):
    return x ** 2

print(dir(함수))

In [ ]:
lambda x : x ** 2 # 참조 카운팅이 없다. 사용 후 소멸됨

In [ ]:
def add(x, y):
    return x + y
def sub():
    pass
def div():
    pass
def mul():
    pass

caculator = [add, sub, div, mul]
print(caculator[0](10, 20))#0번째 값은 add 입니다.

caculator2 = [lambda x,y:x+y, 
              lambda x,y:x-y, 
              lambda x,y:x/y, 
              lambda x,y:x*y]

print(caculator2[0](10, 20)) #0번째 값은 add 입니다.
print(caculator2[0](10, 20))

In [ ]:
def f():
    return lambda x,y:x+y

f()(10,20)

30

In [ ]:
def f():
    return lambda x:lambda i: x*i**2
f()(3)(10)

300

### lambda 실무 응용

* lambda가 응용되는 곳 : map, filter, max, min, sorted

In [2]:
# 실무에서도 많이 사용됩니다.
def 제곱(x):
    return x ** 2
# 재사용 하는 경우에는 함수로 선언하는 경우도 있습니다.
list(map(제곱, [1,2,3,4]))
list(map(제곱, [1,2,3,4]))

list(map(lambda x : x ** 2, [1,2,3,4]))

[1, 4, 9, 16]

In [ ]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 승수하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

# 결과값은 다음과 같아야 합니다.
# 1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]

# 2. 숫자를 승수만큼 승수하여 결과값을 표현해주세요.
[1, 4, 9, 64, 125]

# 3. 승수한 값이 100이상인 값을 출력하세요.
[125]

# 4. 승수한 값을 모두 더하세요
203

In [16]:
숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
print(list(zip(숫자,승수)))

#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.

example = list(zip(숫자,승수))
print(list(map(lambda x:x[0]**x[1] ,example)))

#3. 승수한 값이 100이상인 값을 출력하세요.

example2 = list(map(lambda x:x[0]**x[1] ,example))
print(list(filter(lambda x:x>=100 ,example2)))

# 4. 승수한 값을 모두 더하세요
print(sum(map(lambda x:x[0]**x[1] ,example)))

[(1, 2), (2, 2), (3, 2), (4, 3), (5, 3)]
[1, 4, 9, 64, 125]
[125]
203

In [ ]:
## 강사님의 문제풀이

숫자 = [1, 2, 3, 4, 5]
승수 = [2, 2, 2, 3, 3]

#문제
#1. 숫자의 승수를 zip으로 맵핑해서 진행하세요.
#2. 숫자를 승수만큼 제곱하여 결과값을 표현해주세요.
#3. 승수한 값이 100이상인 값을 출력하세요.
#4. 승수한 값을 모두 더하세요.

# Q1
# Q1.1
data = list(zip(숫자, 승수))

# Q1.2 (list comprehension)
data = [i for i in range(len(숫자))]
###
data = [(숫자[i], 승수[i]) for i in range(len(숫자))]
data


# Q2
# Q2.1
l = []
for i in data:
    l.append(i[0] ** i[1])
print(l)

# Q2.2
def f(x):
    return x[0] ** x[1]

print(list(map(f, data)))

# Q2.3
print(list(map(lambda x:x[0] ** x[1], data)))

# Q2.4
print(list(map(lambda x:pow(x[0], x[1]), data)))

# Q2.5 (list comprehension)
[i for i in data]
[i[0] ** i[1] for i in data] # 공간을 바로 할당해버립니다.

# Q3
# Q3.1
l = []
for i in map(lambda x:x[0] ** x[1], data):
    if i >= 100:
        l.append(i)
print(l)

# Q3.2
def f(x):
    return x > 100
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(f, data2)))

# Q3.3
data2 = map(lambda x:x[0] ** x[1], data)
print(list(filter(lambda x:x>=100, data2)))

# Q3.4
# list(filter(lambda x:x>=100, [1, 4, 9, 64, 125]))
print(list(filter(lambda x:x>=100, map(lambda x:x[0] ** x[1], data))))

# Q3.5
print([i[0] ** i[1] for i in data if i[0] ** i[1] >= 100])

# Q4
sum(map(lambda x:x[0] ** x[1], data))

## 클래스

* 클래스는 데이터(멤버)와 기능(메서드)을 가지고 있는 인스턴트 객체를 생성하기 위한 역할

* 우리가 배우고 있는 Python을 객체 지향 프로그래밍 언어

```
  현실                                코드
  차 ---------------------------> class Car()
  정수 -------------------------> class int()
  실수 -------------------------> class float()

  인간이 만들어 
  놓은 현실 세계에서의 
  정의 또는 약속 --------------> class

  1 + 1 = 2가 컴퓨터 입장에서는 10일 수도 있고
  'A' + 'A' = 'AA'가 아니라 컴퓨터 입장에서는 130일 수 있습니다.
```

In [4]:
class CarFactory(object): # 첫 문자는 대문자로 합니다.
  max_speed = 300
  max_people = 5
  # 아래 self는 스스로를 가리키기에
  # self는 인스턴스를 가리킵니다.
  def move(self): # self는 인스턴스를 가리킵니다. 
    print('차가 움직이고 있습니다.')
  def stop(self):
    print('차가 멈췄습니다.')
# 클래스로 바로 접근해서 무엇을 하는 것을 권고하지 않습니다.
# 제대로 알지 못하는 상태에서 (인스턴스 변수, 클래스 변수)
print(CarFactory.max_speed)
k5 = CarFactory() # 붕어빵(인스턴스) = 붕어빵 틀(클래스)
k3 = CarFactory() # 차(인스턴스) = 자동차 공장(클래스)

300

In [6]:
class CarFactory(object):
  max_speed = 300
  max_people = 5

  def move(self):
    print('차가 움직이고 있습니다.')
  def stop(self):
    print('차가 멈췄습니다.')

k5 = CarFactory()
k3 = CarFactory()
k5.move()
k3.move()
k5.stop()
k3.stop()
print(k5.max_speed)

300
차가 움직이고 있습니다.
차가 움직이고 있습니다.
차가 멈췄습니다.
차가 멈췄습니다.
300

In [7]:
# 메서드 : 클래스 내에 함수
# 멤버 : 클래스 내에 변수
# 클래스는 멤버와 메서드로 이루어짐 , 이 두개를 합쳐서 어트리부트라고도 얘기함.
# 클래스는 붕어빵을 찍는 틀 또는 공장이며 , 인스턴스는 우리가 실제로 사용 하는 것 입니다.
class CarFactory(object):
  max_speed = 300
  max_people = 5
  
  def __init__(self, userInputName): # 인스턴스가 만들어질 때 실행되는 메서드
    self.name = userInputName
    
  def move(self):
    print(self.name,'차가 움직이고 있습니다.')
    
  def stop(self):
    print(self.name,'차가 멈췄습니다.')

k5 = CarFactory('케이파이브')
k3 = CarFactory('케이쓰리')
k5.move()
k3.move()
k5.stop()
k3.stop()
print(k5.max_speed)

케이파이브 차가 움직이고 있습니다.
케이쓰리 차가 움직이고 있습니다.
케이파이브 차가 멈췄습니다.
케이쓰리 차가 멈췄습니다.
300

In [13]:
k3.name
k3.max_speed

300

In [11]:
print(type(k3))
dir(k3)
# 'max_people', 멤버
# 'max_speed', 멤버
# 'move', 메소드
# 'name', 멤버
# 'stop' 메소드

<class '__main__.CarFactory'>

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'max_people',
 'max_speed',
 'move',
 'name',
 'stop']

In [9]:
l = [10,20,30]
print(type(l))
dir(l)
# ALL 메소드
# 'append',  'clear',  'copy',  'count',  'extend',
#  'index',  'insert',  'pop',  'remove',  'reverse',  'sort'

<class 'list'>

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
class list(object):
    def __add__(self):
        pass
    def __class__(self):
        pass
    def __class_getitem__(self):
        pass
    def __eq__(self):
        pass
    def __ge__(self):
        pass 
    # ... 생략 ...
    def append(self):
        pass
    def clear(self):
        pass
    def copy(self):
        pass
    def count(self):
        pass
    def extend(self):
        pass
    def index(self):
        pass
    # ... 생략 ...

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유합니다.
class Car(object):
    # kinds가 인스턴스 레벨에서 없어서 그걸 
    # class변수로 접근하는거고, speed는 값을 = 로 할당했기에 
    # 인스턴스변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name)
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.add_kinds('k5')
k3.add_kinds('k3')
k5.change_speed(500)
k3.change_speed(250)

print('k5.kinds:', k5.kinds)
print('k3.kinds:', k3.kinds)
print('k5.speed:', k5.speed)
print('k3.speed:', k3.speed)

In [ ]:
# 클래스 변수
# 클래스 변수는 클래스 바로 하위에 자리하고 있는 변수
# 클래스 변수는 모든 인스턴스가 공유합니다.
class Car(object):
    # kinds가 인스턴스 레벨에서 없어서 그걸 
    # class변수로 접근하는거고, speed는 값을 = 로 할당했기에 
    # 인스턴스변수가 생기는것
    kinds = []
    speed = 300
    def add_kinds(self, name):
        self.kinds.append(name) # self.kinds = [name]로 사용하면 인스턴스 변수가 됩니다.
    def change_speed(self, speed):
        self.speed = speed

k5 = Car()
k3 = Car()
k5.speed = 500
k3.speed # 클래스 변수는 값을 공유한다며?

In [ ]:
id()

In [20]:
주인공=['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력,체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x,y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률
    
    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power} 데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')
        
슬라임 = MobFactory('슬라임',1,10,10,2,2,100,1,1)
오크 = MobFactory('오크',10,10,10,2,2,80, 1,1)
고블린 = MobFactory('고블린',100,10,10,2,2,60,1,1)
드래곤 = MobFactory('드래곤',1000,10,10,2,2,40,1,1)
해골 = MobFactory('해골',10000,10,10,2,2,1,1,1)

슬라임.attack()

슬라임이 1 데미지로 공격했습니다.
주인공의 체력이 9999가 되었습니다.

In [27]:
class Character(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, x,y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.x = x
        self.y = y
    
    def hpRecovery(self,any):
        self.hp += int(any)
        print(f'{self.name}의 체력이 {any}만큼 회복되었습니다.')
        print(f'{self.name}의 체력이 {self.hp}가 되었습니다.')
    
    def move(self,x,y):
        self.x = int(x)
        self.y = int(y)
        print(f'{self.name}이 X:{x}, Y:{y} 로 이동 되었습니다.')
        
licat = Character('licat',10,300,200,4,4,1,1)
mura = Character('mura',10,210,101,3,3,1,1)

licat.hpRecovery(10)
licat.move(2,2)

licat의 체력이 10만큼 회복되었습니다.
licat의 체력이 310가 되었습니다.
licat이 X:2, Y:2 로 이동 되었습니다.

In [ ]:
주인공 = ['licat', 10000]

class MobFactory(object):
    def __init__(self, 이름, 공격력, 체력, 마력, 크기_넓이, 크기_높이, 아이템확률, x, y):
        self.name = 이름
        self.power = 공격력
        self.hp = 체력
        self.mp = 마력
        self.width = 크기_넓이
        self.height = 크기_높이
        self.dropRate = 아이템확률

    def __add__(self, next):
        if self.name == '슬라임':
            return MobFactory(f'왕{self.name + next.name}', 
                              self.power + next.power, 
                              10, 10, 2, 2, 100, 1, 1)
        return None

    def attack(self):
        주인공[1] -= self.power
        print(f'{self.name}이 {self.power}데미지로 공격했습니다.')
        print(f'주인공의 체력이 {주인공[1]}가 되었습니다.')
    

슬라임 = 슬라임 = MobFactory('슬라임', 1, 10, 10, 2, 2, 100, 1, 1)
왕슬라임 = 슬라임 + 슬라임

왕슬라임.power
왕슬라임.name

In [28]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self,제목,내용,조회수,글쓴이,생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '강현우',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '재현님',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '1000',
    '남궁범',
    '2023/05/10',
    )

# 프레임워크를 공부하지마라
게시글1.title

'오늘 제주의 날씨'

In [29]:
# 쉽고 중요한 예제!

class BlogFactory(object):
    def __init__(self,제목,내용,조회수,글쓴이,생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '강현우',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '재현님',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '1000',
    '남궁범',
    '2023/05/10',
    )

data = [게시글1,게시글2,게시글3]
for i in data:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [30]:
# 쉽고 중요한 예제!
# 이 코드는 가능하면 손으로 2~3번 써보시기를 권해드립니다.

class BlogFactory(object):
    def __init__(self,제목,내용,조회수,글쓴이,생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '강현우',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '재현님',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '1000',
    '남궁범',
    '2023/05/10',
    )

data = [게시글1,게시글2,게시글3]
for i in data:
    if i.writer == '강현우':
        print(i.title)
        print(i.content)
        print(i.count)
        print(i.create_date)

오늘 제주의 날씨
오늘 제주의 날씨는 참 좋네요! 블라블라
0
2023/05/10

In [ ]:
data = [게시글1,게시글2,게시글3]
for i in data:
    print(i.title)
    print(i.content)
    print(i.writer)
    print(i.count)
    print(i.create_date)

In [ ]:
data = [게시글1,게시글2,게시글3]
for i in data:
    print(f'<h2>{i.title}<h2>')
    print(f'<p>{i.content}<p>')
    print(f'<p>{i.writer}<p>')
    print(f'<p>{i.count}<p>')
    print(f'<p>{i.create_date}<p>')

In [33]:
# 조금 난이도가 있는 예제이기 때문에
# 기억하지 않으셔도 됩니다.

class BlogFactory(object):
    dataset = []
    
    def __init__(self,제목,내용,조회수,글쓴이,생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

게시글1 = BlogFactory(
    '오늘 제주의 날씨',
    '오늘 제주의 날씨는 참 좋네요! 블라블라',
    '0',
    '강현우',
    '2023/05/10',
    )

게시글2 = BlogFactory(
    '오늘 부산의 날씨',
    '오늘 부산의 날씨는 참 좋네요! 블라블라',
    '100000',
    '재현님',
    '2023/05/10',
    )

게시글3 = BlogFactory(
    '오늘 강원의 날씨',
    '오늘 강원의 날씨는 참 좋네요! 블라블라',
    '1000',
    '남궁범',
    '2023/05/10',
    )

for i in 게시글1.dataset:
    print(i.title)

오늘 제주의 날씨
오늘 부산의 날씨
오늘 강원의 날씨

In [ ]:
# x = 10
# y = 10
# x.__add__ = lambda self, next : str(self) + str(next) # error

In [ ]:
# python read only method create 가능한가?

In [4]:
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

    

print(게시글1)

<__main__.BlogFactory object at 0x0000017886423DC0>

In [6]:
# 중요한 예제입니다.
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return f'제목 : {self.title}, 내용 : {self.content[:5]}, 글쓴이 : {self.writer}'

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )

print(게시글1)
print(게시글2)

제목 : 오늘 제주의 날씨, 내용 : 오늘 제주, 글쓴이 : 이호준
제목 : 오늘 부산의 날씨, 내용 : 오늘 부산, 글쓴이 : 김재현

In [1]:
# 중요한 예제입니다.
class BlogFactory(object):
    dataset = []

    def __init__(self, 제목, 내용, 조회수, 글쓴이, 생성날짜):
        self.title = 제목
        self.content = 내용
        self.count = 조회수
        self.writer = 글쓴이
        self.create_date = 생성날짜
        self.dataset.append(self)

    def __str__(self):
        return f'{len(self.dataset)}. 제목 : {self.title}, 내용 : {self.content[:5]}, 글쓴이 : {self.writer}'

게시글1 = BlogFactory(
        '오늘 제주의 날씨',
        '오늘 제주의 날씨는 참 좋네요! 블라블라',
        '0',
        '이호준',
        '2023/05/10',
    )
print(게시글1)

게시글2 = BlogFactory(
        '오늘 부산의 날씨',
        '오늘 부산의 날씨는 참 좋네요! 블라블라',
        '1000000',
        '김재현',
        '2023/05/10',
    )
print(게시글2)

1. 제목 : 오늘 제주의 날씨, 내용 : 오늘 제주, 글쓴이 : 이호준
2. 제목 : 오늘 부산의 날씨, 내용 : 오늘 부산, 글쓴이 : 김재현

### !! 클래스 연습문제

In [28]:
class UserInfo(object):
    
    dataset = []
    
    def __init__(self,아이디,비밀번호,이름,이메일,생성날짜,주소,잔금,보유책):
        self.userId = 아이디
        self.userPassword = 비밀번호
        self.userName = 이름
        self.userEmail = 이메일
        self.createDate = 생성날짜
        self.userAddress = 주소
        self.userMoney = 잔금
        self.userBooks = 보유책
        self.dataset.append(self)
    
    def __str__(self):
        return f'아이디 : {self.userId}, 비밀번호 : hashPassword , 이름 : {self.userName}, 이메일 : {self.userEmail}, 잔금 : {self.userMoney}'
    
    def buyBook(self,book):
        self.userMoney -= int(book.price)
        self.userBooks.append(f'{book.title}')
        print(f'{book.title}을 구매하셨습니다. 책의 가격은 {book.price} 입니다.')
        print(f'{self.userName}님의 잔고는 {self.userMoney}가 되었습니다.')
        
유저1 = UserInfo(
        'myIds',
        'myPassword',
        'woohyun',
        'woohyun@gmail.com',
        '2023/05/10',
        '제주도',
        20000,
        []
    )

유저2 = UserInfo(
        'myIds2',
        'myPassword2',
        'hyunwoo',
        'hyunwoo@gmail.com',
        '2023/05/10',
        '부산',
        30000,
        []
    )


class BookInfo(object):
    dataset = []
    
    def __init__(self, 제목, 내용, 글쓴이, 출판사, 카테고리, 가격):
        self.title = 제목
        self.content = 내용
        self.writer = 글쓴이
        self.publisher = 출판사
        self.category = 카테고리
        self.price = 가격
        self.dataset.append(self)
    
    def __str__(self):
        return f'제목 : {self.title}, 내용 : {self.content[:10]}, 글쓴이 : {self.writer}, 출판사 : {self.publisher}, 가격 : {self.price}'

book1 = BookInfo(
    'enjoy_Python_Lv0',
    '쉽고 재밌는 파이썬과 친해지기. Lv0 단계부터 살펴볼까요?',
    '강현우',
    '위니브',
    'IT',
    10000
    )

book2 = BookInfo(
    'enjoy_Js_Lv0',
    '쉽고 재밌는 JavaScript와 친해지기. Lv0 단계부터 천천히 배워볼까요~',
    '우현강',
    '위니브',
    'IT',
    9900
    )

# print(book1)
# print(book2)
# print(book2.title)
print(유저1.userBooks)
유저1.buyBook(book1)
유저1.userBooks

[]
enjoy_Python_Lv0을 구매하셨습니다. 책의 가격은 10000 입니다.
woohyun님의 잔고는 10000가 되었습니다.

['enjoy_Python_Lv0']

In [ ]:
import hashlib

비밀번호 = hashlib.sha256()
비밀번호.update('helloworld!'.encode('utf-8'))
비밀번호.hexdigest() # 영화를 집어넣든, 음악을 집어넣든, 소설을 집어넣든, 암호를 집어넣든 모두 64자로 만듭니다.

In [24]:
# 1번째 스탭
# 공개되는 정보, 공개되지 않는 정보
# 멤버(정적 수치, 문자열)와 메서드(기능)
class Product(object):
    def __init__(self, 품명, 가격):
        self.product_name = 품명
        self.price = 가격
        
자전거 = Product(
    '자전거',
    100000,
)

class UserInfo(object):
    def __init__(self, 
                 이름, 
                 이메일,
                 비밀번호, 
                 주요접속기기, 
                 주요접속국가, 
                 주요접속지역, 
                 마지막접속일자, 
                 회원가입날짜, 
                 별명, 
                 적립금, 
                 생일, 
                 휴대폰번호, 
                 휴대폰인증여부, 
                 고객등급, 
                 휴면계정여부):
        self.이름 = 이름
        self.고객등급 = 고객등급
        self.적립금 = 적립금
    
    def 물품구매(self, product):
        self.적립금 -= product.price

    def 회원탈퇴(self):
        pass

    def 장바구니등록(self):
        pass

이호준 = UserInfo(
    이름 = '이호준',
    이메일 = 'hojun@gmail.com',
    비밀번호 = '98d234db7e91f5ba026a25d0d6f17bc5ee0a347ea2216b0c9de06d43536d49f4',
    주요접속기기 = 'Android',
    주요접속국가 = 'Korea',
    주요접속지역 = 'Jeju',
    마지막접속일자 = '23/05/10',
    회원가입날짜 = '23/05/10',
    별명 = '준',
    적립금 = 1000000000,
    생일 = '13/13',
    휴대폰번호 = '010-0000-0000',
    휴대폰인증여부 = True,
    고객등급 = 'VIP',
    휴면계정여부 = False,
)

이호준.물품구매(자전거)
이호준.적립금

999900000

In [29]:
class Car(object):
    MaxSpeed = 300
    MaxPeoeple = 5
    def __init__(self):
        pass
    def move(self, x):
        pass
    def stop(self):
        print('멈췄습니다.')
    @staticmethod #decorator
    def 스피드배속(현재스피드, 배속할스피드):
        print(f'현재 {현재스피드 * 배속할스피드}의 스피드로 달리고 있습니다.')

Car.스피드배속(100, 2) # 붕어빵 찍는 틀이 얼마나 붕어빵을 만들어 냈는가?

현재 200의 스피드로 달리고 있습니다.

In [ ]:
# 예를 들어
class Hotel:
    pass

# Hotel.빈방있는호텔() # 전체 호텔에 빈방이 있는
# 호텔1.빈방 # 호텔 1에 빈방이 있는지 여부

### 상속

In [31]:
# 이 예제는 기억하고 있으셔야 합니다.
class Car(object):
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

In [ ]:
dir(k3)

In [40]:
HyK3 = HybridCar()
K3 = Car()
ElHyK3 = ElectricCar()
# id(K3.maxSpeed), id(HyK3.maxSpeed)
# id(K3.move), id(HyK3.move)
ElHyK3.move(10)

10 의 스피드로 달리고 있습니다.

In [ ]:
# 우리가 앞으로 알고리즘에서 할 코드입니다.
# 예방주사 차원에서 진행하도록 하겠습니다.

In [3]:
# 아주 간단한 코드입니다.
class Node:
    def __init__(self,data):
        self.data = data
        self.next = None

노드1 = Node(10)
노드2 = Node(20)
노드3 = Node(30)

# 노드1.data
노드1.next = 노드2
노드2.next = 노드3

노드1.next.data # 노드2.data
노드1.next.next.data # 노드2.next.data # 노드3.data

20

In [9]:
class Node:
    def __init__(self,data1,data2):
        self.data1 = data1
        self.data2 = data2
        self.next = None

노드1 = Node(10,20)
노드2 = Node(30,40)
노드3 = Node(50,60)

노드1.next = 노드2
노드2.next = 노드3

40

### 메서드 오버라이딩

* 부모클래스에서 상속받은 함수를 자식 클래스에서 같은 이름으로 선언하여 사용하는 것

In [13]:
class Car(object):
    maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')
    def stop(self):
        print('멈췄습니다.')

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600

    def move(self, x):
        print(self.batteryKM, '만큼 달릴 수 있습니다.')
        print(x, '스피드로 달리고 있습니다.')

# 자신의 고유의 영역에서 선언된
# 멤버와 메서드를 우선순위로 잡습니다.
k5 = HybridCar()
electricCarK5 = ElectricCar()
k5.maxSpeed
electricCarK5.maxSpeed
electricCarK5.battery
electricCarK5.move(10)

600 만큼 달릴 수 있습니다.
10 스피드로 달리고 있습니다.

### 다중상속

In [ ]:
class Car(object):
    maxSpeed = 300
    def move(self, x):
        print(x, '의 스피드로 달리고 있습니다.')

class HybridCar(Car):
    battery = 1000

class ElectricCar(HybridCar):
    battery = 2000

    def move(self, x):
        print(x, '스피드로 달리고 있습니다.')

class Test(ElectricCar):
    pass

Test.mro() # MRO(Method Resolution Order)
# print(Test.battery)

In [1]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(C):
    pass

D.mro()
# D.battery

[__main__.D, __main__.C, __main__.A, object]

In [ ]:
class A(object):
    maxSpeed = 300

class B(A):
    battery = 1000

class C(A):
    battery = 2000

class D(B, C):
    pass

D.mro()
# D.battery

In [ ]:
# __는 문법 적으로 접근이 안됩니다. : 변수를 보호할 수 있어요.
# 변수를 변경하는 것을 보다 엄격하게 관리할 수 있습니다.

# _는 공식 X
# _는 문법 적으로 접근이 됩니다.(회사 컨벤션마다 다릅니다.)

class Car(object):
    __maxSpeed = 300
    maxPeople = 5
    def move(self, x):
        print(x, '의 스피드로 움직이고 있습니다.')
        print(self.__maxSpeed, '가 최고 속도입니다.')
    def stop(self):
        print('멈췄습니다.')

k5 = Car()
k5.move(10)
# k5.__maxSpeed #error
# k5.maxPeople

## 제너레이터와 이터레이터

### 이터레이터

In [2]:
class Myiter:
    
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration # stopiteration 오류 발생 해주기.
        self.currentValue += 1
        return self.currentValue

li = Myiter(5)
for i in li:
    print(i)

1
2
3
4
5

In [5]:
class Myiter:
    
    def __init__(self, stop):
        self.currentValue = 0
        self.stop = stop
    
    def __iter__(self):
        return self
    
    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration # stopiteration 오류 발생 해주기.
        result = self.currentValue
        self.currentValue += 1
        return result

li = Myiter(5)
for i in li:
    print(i)

0
1
2
3
4

In [6]:
class Myiter:
    
    def __init__(self, stop):
        self.stop = stop
    
    def __iter__(self):
        self.currentValue = 0
        return self
    
    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration # stopiteration 오류 발생 해주기.
        result = self.currentValue
        self.currentValue += 1
        return result

li = Myiter(5)
# 결국 for는 iter를 먼저 실행하고, 그 다음 next로 stopiteration을 만날때 까지
for i in li:
    print(i)
    
for i in li:
    print(i)

0
1
2
3
4
0
1
2
3
4

In [7]:
class Myiter:
    
    def __init__(self, stop):
        self.stop = stop
    
    def __iter__(self):
        self.currentValue = 0
        return self
    
    def __next__(self):
        if self.currentValue >= self.stop:
            raise StopIteration # stopiteration 오류 발생 해주기.
        result = self.currentValue
        self.currentValue += 1
        return result

li = Myiter(5)
# 결국 for는 iter를 먼저 실행하고, 그 다음 next로 stopiteration을 만날때 까지
i = iter(li)
next(i)

0

In [ ]:
next(i)

In [13]:
a, b, c, d =Myiter(4)
print(a, b, c, d)

0 1 2 3

In [14]:
a, b, c, d =range(4)
print(a, b, c, d)

0 1 2 3

### 제너레이터

* 제너레이터란, 이터레이터를 생성해주는 함수

In [16]:
def gen():
    count = 0
    while True:
        yield count
        count += 1

gen()

for i in gen():
    print(i)
    if i == 10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [17]:
def gen():
    count = 0
    while True:
        yield count
        count += 2

l = [10,20,30,40,50]

list(zip(l,gen()))

[(10, 0), (20, 2), (30, 4), (40, 6), (50, 8)]

In [18]:
def gen():
    count = 0
    while True:
        yield f'{count}주차'
        count += 2
        
과목 = ['HTML' , 'CSS' , 'JavaScript' , 'Python']

list(zip(과목,gen()))

[('HTML', '0주차'), ('CSS', '2주차'), ('JavaScript', '4주차'), ('Python', '6주차')]

In [20]:
def gen():
    count = 1
    while True:
        yield count
        count += 1
        if count == 6:
            count = 1
        
과목 = ['A' , 'B' , 'C' , 'D' , 'E' , 'F' , 'G' , 'H' , 'I' , 'J' , 'K']

list(zip(과목,gen()))

[('A', 1),
 ('B', 2),
 ('C', 3),
 ('D', 4),
 ('E', 5),
 ('F', 1),
 ('G', 2),
 ('H', 3),
 ('I', 4),
 ('J', 5),
 ('K', 1)]

## 데코레이터 (데커레이터)

In [ ]:
# 아래와 같이 실무에서 활용됩니다.

@login
def 비밀게시판()
    return render()

@check_vip
def vip용쿠폰():
    return render()

# 데이터 전처리란?
# 데이터에 이상치(이상한 값), 결측치(비어있는 값) 등을 처리 
# ['10',1,2,3,'20'] -> [10,1,2,3,20]
@데이터전처리
sum(data)

@데이터전처리후퍼센테이지
sum(data)

# [10,20,30] -> 60%

In [24]:
def one():
    return lambda x, y : x + y

더하기 = one()
더하기(10,10)

20

In [25]:
def one():
    def two(x,y):
        return x + y
    return two

더하기 = one()
더하기(10,10)

20

In [26]:
# 중요한 코드입니다.
# 손으로 2 ~ 3번 써보시길 권해드립니다.
def print_hello(func):
    def wrap_func():
        print('hello')
        func()
    return wrap_func

@print_hello
def func1(): 
    print('func1 입니다.')

func1()

hello
func1 입니다.

In [35]:
def 인사말(func):
    def wrap_func():
        print('안녕하세요')
        func()
    return wrap_func

@인사말
def 자기소개1(): 
    print('강현우입니다.')
    
@인사말
def 자기소개2(): 
    print('위니브입니다.')

def 작별인사(): 
    print('안녕히계세요')

자기소개1()
자기소개2()
작별인사()

안녕하세요
강현우입니다.
안녕하세요
위니브입니다.
안녕히계세요

In [41]:
def 인사말(func):
    def wrap_func():
        print('안녕하세요')
        func()
    return wrap_func

def 자기소개1(): 
    print('강현우입니다.')
    
def 자기소개2(): 
    print('위니브입니다.')

def 작별인사(): 
    print('안녕히계세요')

인사말(자기소개1)()
인사말(자기소개2)()
작별인사()

안녕하세요
강현우입니다.
안녕하세요
위니브입니다.
안녕히계세요

In [37]:
def 인사말(func):
    def wrap_func(이름): # 파라미터
        print('안녕하세요')
        func(이름) # 아규먼트
    return wrap_func

@인사말
def 자기소개1(name): 
    print(f'{name}입니다.')
    
@인사말
def 자기소개2(name): 
    print(f'{name}입니다.')

def 작별인사(): 
    print('안녕히계세요')

자기소개1('강현우')
자기소개2('위니브')
작별인사()

안녕하세요
강현우입니다.
안녕하세요
위니브입니다.
안녕히계세요

In [42]:
def 인사말(func):
    def wrap_func(이름):
        print('안녕하세요')
        func(이름)
    return wrap_func

def 자기소개1(name): 
    print(f'{name}입니다.')
    
def 자기소개2(name): 
    print(f'{name}입니다.')

def 작별인사(): 
    print('안녕히계세요')

인사말(자기소개1)('강현우')
인사말(자기소개2)('위니브')
작별인사()

안녕하세요
강현우입니다.
안녕하세요
위니브입니다.
안녕히계세요

In [45]:
def 전처리(func):
    def wrap_func(iterable):
        iterable = list(map(int,iterable))
        print(func(iterable))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

2.5

In [46]:
def 전처리(func):
    def wrap_func(iterable):
        print(func(list(map(int,iterable))))
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

2.5

In [49]:
def 전처리(func):
    def wrap_func(iterable):
        i = list(map(int,iterable))
        calculate = func(i)
        result = str(calculate)+'%'
        return result
    return wrap_func

@전처리
def 평균(l):
    return sum(l) / len(l)

평균(['1', 2, 3, '4'])

'2.5%'

In [68]:
# 데코레이터 실습 문제
# 다음 값이 들어갔을 때 숫자만 모두 더하는 코드를 완성하세요.
l = ['10',True,False,'21',0,10,20]

def 전처리(func):
    def wrap_func(datas):
        datas = [i for i in datas if type(i) == str or type(i) == int]
        result = func(map(int,datas))
        return result
    return wrap_func

@전처리
def custom_sum(list):
    return sum(list)

custom_sum(l)

61

In [69]:
# 다시 살펴보겠습니다.
def decorator1(func):
    def wrapper():
        print('decorator1')
        func()
    return wrapper
 
def decorator2(func):
    def wrapper():
        print('decorator2')
        func()
    return wrapper
 
# 데코레이터를 여러 개 지정
@decorator1
@decorator2
def hello():
    print('hello')
 
hello()

decorator1
decorator2
hello

## 모듈과 패키지

In [ ]:
# 연습 1
# def hello ():
#     pass

# class Human():
#     pass

# name = 'kanghyunwoo'
# age = 10

In [81]:
import test1

print(test1.name)
print(test1.hello())

kanghyunwoo
None

In [83]:
# 연습 2 파일 2개 생성
# 주의!! 같은 이름이 있었을 경우 
# 마지막에 추가된 변수명으로 할당
# import * 는 더더욱 포함시키는 변수, 메서드 , 클래스 명을 알 수 없기에
# 주의해서 사용해야 합니다.
from test2 import name
from test1 import name

print(name)

kanghyunwoo

In [ ]:
# 연습 3 폴더 > 파일 생성
# 폴더로 연습
# one이라는 것이 여기서는 폴더입니다.!
# two가 file 이름이에요.
from one import two

print(two.name)

In [ ]:
# 연습 4 폴더 > 폴더 > 파일 생성
from one.two import three

print(three.name)

In [ ]:
# 연습 5
import test1 as t

t.hello()

In [ ]:
# Python에 모듈
import pandas as pd
import numpy as np

In [ ]:
# !mkdir leehojun

In [ ]:
# !pip install 패키지이름

In [ ]:
# !pip list # 실행 결과를 남겨드리고 싶으나 너무 길어 삭제

In [ ]:
import random as rd #랜덤한 숫자 반환

rd.randint(0, 10)

## 파일 입출력

In [94]:
f = open('python.txt','w') # 파일모드 : r(read), w(write, 덮어씁니다. ㅜㅜ), a(append)
f.close()

In [95]:
f = open('python.txt','w')
s = 'hello\nworld'
f.write(s)
f.close()

In [1]:
'''
{
    "one":10,
    "two":20,
    "three":30
}
'''

data1 = ['one','two','three']
data2 = [10,20,30]

string = str(dict(zip(data1,data2)))

f = open('data.json','w')
f.write(string)
f.close()

In [15]:
import json

data1 = ['one','two','three']
data2 = [10,20,30]

string = json.dumps(dict(zip(data1,data2)),indent=4)

f = open('data.json','w')
f.write(string)
f.close()

In [ ]:
import json
text = f'/////////////// 업데이트 방법 //////////////\n\
// 1. 아래 데이터는 민감데이터로 크롤링에 의존하지 않는 데이터입니다.\n\
//    긴급할 경우 아래 데이터만 수정하여 push 해주세요.\n\
// 2. 크롤러_통합.py를 실행시키시고, 모두 push해주시면 됩니다.\n\
//    크롤러_세계확진자.js, koreaRegionalData.js가 뽑힙니다.\n\
// 3. 크롤러가 동작하지 않을 경우 수동업데이트해야 합니다.\n\
////////////////////////////////////////////\n\
// 존스홉킨스 : https://gisanddata.maps.arcgis.com/a\n\
// https://www.worldometers.info/coronavirus/\n\
// 질본 : http://ncov.mohw.go.kr/bdBoardLis\n\
// 선차트용 데이터 - 제주도청 제공\n\
var 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]


f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [ ]:
import json

text = f'안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three']
data2 = [10, 20, 30]

f = open('data.js', 'w')
s = json.dumps(dict(zip(data1,data2)), indent=4)
s = text + s
f.write(s)
f.close()

In [2]:
import json

text = f'//안내문구\nvar 입도객현황 = '

data1 = ['one', 'two', 'three',]
data2 = [10, 20, 30,]

f = open('data.js', 'w',encoding='UTF-8')
s = str(data1)
s = text + s
f.write(s)
f.close()

In [16]:
str(['one', 'two', 'three',])

"['one', 'two', 'three']"

## 파일 읽기

* readline( ) : 라인 별로 읽습니다.

In [17]:
f = open('python.txt','r')
while True:
    line = f.readline()
    if not line:
        break
    print(line)

f.close()

hello

world

* readlines( ) : 전체 텍스트를 한꺼번에 읽어옵니다.

In [18]:
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line)
f.close()

hello

world

* read( ) : 파일 전체 내용을 읽어옵니다.

In [19]:
f = open('python.txt', 'r')
data = f.read()
print(data)
f.close()

hello
world

In [ ]:
# 개행이 2번 되었던 이유는 print 함수가 이미 개행을 가지고 있기때문입니다.
f = open('python.txt', 'r')
lines = f.readlines()
for line in lines:
    print(line, end='')
f.close()

## 파일 내용 추가

In [ ]:
f = open('python.txt', 'w')
s = ''
for i in range(5):
    s += f'{i}명 참여 중입니다. \n'
f.write(s)
f.close()

In [ ]:
f = open('python.txt', 'a') # 다시 write 모드로 하면 처음부터 덮어 씁니다.
s = ''
for i in range(5, 11):
    s += f'{i}명 참여 중입니다. \n'
f.write(s)
f.close()

* 파일이 계속 열려있는 상태가 유지
* 메모리 효율

## 파일 열기와 닫기를 동시에

In [ ]:
with open('test.txt', 'w') as f:
    f.write('Life is too short, you need python')

## 파일 입출력 심화 과정

* github(https://github.com/paullabkorea/xlsxwriter) 에서 모든 소스코드를 다운로드 받으실 수 있습니다.
* 무료책인 인공지능을 활용한 업무자동화 책(2021 Version Notion)을 활용하면 좀 더 활용성이 극대화된 코딩이 가능합니다.(크롤링, 워드파일 크롤링, PDF크롤링, 문자 보내기 등)
* 업무자동화 Notion 링크 : https://paullabworkspace.notion.site/2021-6192ed4219fc4e7a96e10b22cfa27c80

In [ ]:
# openpyxl , xlrd , xlwt
# 다른 사용자가 만든 모듈

In [21]:
import xlsxwriter

In [24]:
# 엑셀 파일 생성하기
workbook = xlsxwriter.Workbook('test.xlsx')

# 파일 안에 워크시트 생성하기
worksheet = workbook.add_worksheet('test')

data = ['AA','BB','CC','DD']

worksheet.write('A1',data[0])
worksheet.write('B1',data[1])
worksheet.write('C1',data[2])
worksheet.write('D1',data[3])

worksheet.write('A2',1)
worksheet.write('B2',2)
worksheet.write('C2',3)
worksheet.write('D2',4)
                # 행 , 열 , 데이터
worksheet.write(2,0,10)
worksheet.write(2,1,20)
worksheet.write(2,2,30)
worksheet.write(2,3,40)


workbook.close()

In [33]:
# 엑셀 파일 생성하기
workbook = xlsxwriter.Workbook('test.xlsx')

# 파일 안에 워크시트 생성하기
worksheet = workbook.add_worksheet('test')

홍길동 = [33,88,24]
강현우 = [34,66,77]
위니브 = [78,82,36]

worksheet.write_row(0,0,['이름','국어','수학','영어','평균'])
worksheet.write_row(1,0,['홍길동',홍길동[0],홍길동[1],홍길동[2],sum(홍길동)//len(홍길동)])
worksheet.write_row(2,0,['강현우',강현우[0],강현우[1],강현우[2],sum(강현우)//len(강현우)])
worksheet.write_row(3,0,['위니브',위니브[0],위니브[1],위니브[2],sum(위니브)//len(위니브)])

workbook.close()

## OS 모듈

In [34]:
import os

os.getcwd() # os.getcwd() 함수는 현재 작업 디렉토리를 출력

'c:\\Users\\Hyunwoo\\Desktop\\ORMI\\BackendOrmi\\PYTHON'

In [35]:
os.listdir() # 경로에 존재하는 파일과 디렉토리를 리스트로 반활할 때 사용

['20230501',
 '20230502',
 '20230503',
 '20230504',
 '20230508',
 '20230509',
 '20230510',
 '20230511',
 'data.js',
 'data.json',
 'deep_dive_python.ipynb',
 'one',
 'python.txt',
 'test.xlsx',
 'test1.py',
 'test2.py',
 '__pycache__']

In [36]:
for i in os.listdir():
    if len(i.split('.')) >= 2:
        if i.split('.')[1] == 'py' or i.split('.')[1] == 'txt':
            print(i)

python.txt
test1.py
test2.py

In [ ]:
os.mkdir('hello') # 폴더를 생성할 일이 없습니다. # Log 누적할 떄 사용

In [37]:
import glob

glob.glob('*.py')

['test1.py', 'test2.py']

## advanced 문제

In [ ]:
def writeFile(func):
    def wrap():
        func()
        return
     
@writeFile
def add(a,b):
    return a + b

# writefile의 데코레이터의 기능은
# 아래와 같은 형식으로 result.txt에 항상 저장되게 하는 것입니다.
{
    "a":10,
    "b":20,
    "a+b":30,
}

In [1]:
import json

def writeFile(func):
    def wrap_func(a,b):
        if type(a) == int and type(b) == int:
            key_data = ['a', 'b', 'a+b']
            value_data = [a, b, func(a,b)]
            data = dict(zip(key_data,value_data)) 
            f = open('result.txt', 'w')
            s = json.dumps(data, indent=4)
            f.write(s)
            f.close()
            return print('성공')
        else:
            return print('실패')
    return wrap_func

@writeFile
def add(a,b):
    return a + b

add(11,12)

# writefile의 데코레이터의 기능은
# 아래와 같은 형식으로 result.txt에 항상 저장되게 하는 것입니다.
# {
#     "a":10,
#     "b":20,
#     "a+b":30,
# }

34

In [19]:
## 클래스로 데코레이터 만들어보기

import json

class writeFile:
    def __init__(self,func):
        self.func = func
        
    def __call__(self,a,b):
        if type(a) == int and type(b) == int:
            data = {
                'a': a,
                'b': b,
                'a+b': self.func(a,b)
            }
            f = open('result.txt', 'w')
            s = json.dumps(data, indent=4)
            f.write(s)
            f.close()
            return print('성공')
        else:
            return print('실패')

@writeFile
def add(a,b):
    return a + b

add(100,101)

성공

In [6]:
## 클래스로 데코레이터 만들어보기
## 숫자만 입력받는 함수를 만들어서 , 그때만 실행하기

import json

class writeFile:
    def __init__(self,func):
        self.func = func
        
    def __call__(self,a,b):
        data = {
            'a': a,
            'b': b,
            'a+b': self.func(a,b)
        }
        f = open('result.txt', 'w')
        s = json.dumps(data, indent=4)
        f.write(s)
        f.close()
        return print('저장되었습니다.')

@writeFile
def add(a,b):
    return a + b

def integer_input(a,b):
    n , m = input(a) , input(b)
    if n.isdigit() and m.isdigit():
        return add(int(n),int(m))
    else:
        return print("숫자가 아닙니다.")

integer_input('a : ','b : ')

숫자가 아닙니다.

In [ ]:
# 강사님 코드

# 동건님 코드 : 문제는 없으나 add를 실행시키긴 해야합니다!
# 데코레이터 => 아래 코드는 데코할 대상이 없는거에요.

'''
추가로 부연 설명을 합니다. :)
스토리로 굳이 표현하자면 아래와 같습니다.

1. add라는 함수를 내가 1년 전에 만들었다. 문제 없이 잘 작동하는 함수이다.
2. 이 add를 데코레이터를 써서 파일 입출력이 되게 하고 싶다.
3. 데코레이터를 만든다.
4. 기존의 코드도 정상적으로 작동이 되어야 한다.
'''

import json

def writerfile(func):
    def wrapper(a, b):
        data1 = ['a', 'b', 'a+b']
        data2 = [a, b, a+b]
        f = open('writerfile.json', 'w')
        json.dump(dict(zip(data1,data2)), f, indent = 4)
        f.close()
    return wrapper

@writerfile
def add(a,b):
    return a + b

add(10, 20)

In [ ]:
# 기존 코드
def add(a,b):
    return a + b

result = add(10, 20) + add(10, 20)
print(result)

In [ ]:
import json

def writerfile(func):
    def wrapper(a, b):
        data1 = ['a', 'b', 'a+b']
        data2 = [a, b, a+b]
        f = open('writerfile.json', 'w')
        json.dump(dict(zip(data1,data2)), f, indent = 4)
        f.close()
        return func(a, b)
    return wrapper

@writerfile
def add(a,b):
    return a + b

result = add(10, 20) + add(10, 20)
print(result)

## Python Error

* Python에서는 에러를 만나면 코드가(서비스가) 멈춥니다.
* 여러분들이 짠 코드가 서비스에 바로 영향이 끼쳐지지 않도록 시니어 분들이 견고한 코드를 작성해놨을 겁니다.
* TDD, 테스트 주도 개발 등 Test를 할 수 있는 환경 등이 갖춰져 있습니다.
* 작성한 코드는 실 서비스로 바로 배포되지 않습니다. 작성한 코드는 테스트 서버로 일단 배포되서 잘 작동하는지 테스트 해봅니다.

In [2]:
# Syntax Error
for i in range(10)
    print(i)

SyntaxError: expected ':' (2243061991.py, line 2)

In [3]:
# Name Error
print(x)

NameError: name 'x' is not defined

In [4]:
# Type Error
x = 10
y = '20'
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
# Index Error
my_list = [1, 2, 3]
print(my_list[3])

IndexError: list index out of range

In [6]:
# Key Error
my_dict = {'a': 1, 'b': 2}
print(my_dict['c'])

KeyError: 'c'

In [8]:
# Value Error
int('a')

ValueError: invalid literal for int() with base 10: 'a'

In [10]:
# Attribute Error
my_list = [1, 2, 3]
print(my_list.appeend(4))

AttributeError: 'list' object has no attribute 'appeend'

In [11]:
# Type Error
def add(x, y):
    return x + y

add(1, 2, 3)

TypeError: add() takes 2 positional arguments but 3 were given

## 예외 처리

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드

In [12]:
def div(a,b):
    return a / b

try:
    div(1,0)
except:
    print('예외 발생')

예외 발생

In [ ]:
div(1,0)

In [13]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)
    except:
        print('예외 발생')

result = f() + f() #result에는 float이 오길 기대하죠
print(result)

예외 발생
예외 발생

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [15]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)
    except:
        return float('inf')

result = f() + f() #result에는 float이 오길 기대하죠
print(result)

inf

In [ ]:
def div(a,b):
    return a / b

def f():
    try:
        return div(1,0)
    except:
        return 0

result = f() + f() #result에는 float이 오길 기대하죠
print(result)

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드

In [20]:
try:
    1/0
except:
    print('예외 발생')
else:
    print('정상 종료!')

예외 발생

In [18]:
try:
    1/0
except Exception as e:
    print('예외 발생' , e)
else:
    print('정상 종료!')

예외 발생 division by zero

In [ ]:
# while, for, try-except 구문에서 else는 언제 실행?
# 정상 종료 되었을 때

In [21]:
try:
    10/2
except :
    print('예외 발생')
else:
    print('정상 종료!')

정상 종료!

In [ ]:
# 에러가 나면 코드가 멈추기 때문에 보통 except와 함께 사용합니다.
try:
    # 예외가 발생할 가능성이 있는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드

In [22]:
try:
    1/0
finally:
    print('finally')
    

print('hello world')

finally

ZeroDivisionError: division by zero

In [ ]:
try:
    1/0
except:
    print('hello')
finally:
    print('world')

In [ ]:
try:
    # 예외가 발생할 가능성이 있는 코드
except:
    # 예외 처리 코드
else:
    # 예외가 발생하지 않을 때 실행되는 코드
finally:
    # 예외 발생 여부와 상관없이 항상 실행되는 코드

In [24]:
try:
    1/0
except:
    print('except')
else:
    print('else')
finally:
    print('finally')

except
finally

In [23]:
try:
    10/2
except:
    print('except')
else:
    print('else')
finally:
    print('finally')

else
finally

In [25]:
raise

RuntimeError: No active exception to reraise

In [26]:
# raise 에러이름

raise ValueError

ValueError:

In [27]:
raise kanghyunwoo

NameError: name 'kanghyunwoo' is not defined

In [28]:
raise ValueError('코드를 잘~~ 만들어주세요.')

ValueError: 코드를 잘~~ 만들어주세요.

In [30]:
try:
    1/0
except ValueError:
    print(ValueError)
except ZeroDivisionError:
    print(ZeroDivisionError)
    
print(ZeroDivisionError)
print(type(ZeroDivisionError))
print(dir(ZeroDivisionError))

<class 'ZeroDivisionError'>
<class 'ZeroDivisionError'>
<class 'type'>
['__cause__', '__class__', '__context__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__subclasshook__', '__suppress_context__', '__traceback__', 'args', 'with_traceback']

## 기초 역량 테스트 문제

In [ ]:
# 1번
원주율 = 3.141592
int(원주율)

# 2번 = b. 1

# 3번
my_name = '홍길동'
print(f'안녕하세요. {my_name}입니다')

# 4번 = c. reverse()

# 5번

num = int(input())

def divisor(num):   
    return [i for i in range(1,num+1) if num % i == 0]

divisor(num)

# 6번

def solution(l,a):
    return l.count(a)

solution(['a', 'b', 'c', 'a', 'a'], 'a')

# 7번

def solution(l):
    return sorted(l,key=lambda x:x[1],reverse=True)

solution([[10, 5], [20, 3], [30, 4], [40, 1]]) 

# 8번

def solution(l):
    return list(map(lambda x:x[0]-x[1],l))

solution([[10, 5], [20, 3], [30, 4], [40, 1]])

# 9번
def solution(s):
    return sum([int(i) for i in s]) 

solution('11123')

# 10번
def solution(s):
    return s.replace('!', '').replace(' ', '')

solution('!hello!wor     ld!     ')

In [ ]:
l = [i - j for i, j in [[10, 5], [20, 3], [30, 4], [40, 1]]]
l

## 클로저,팩토리 함수

In [64]:
def one():
    def two():
        return
    return two

hello = one() # hello == two

In [66]:
def one(x):
    def two():
        return x + x
    return two

hello = one(10) # hello == two
hello() # hello() == two()

20

In [67]:
def one(x):
    def two(a,b):
        return a + b + x
    return two

hello = one(10) # hello == two
hello(2,3) # hello() == two()

15

In [75]:
def user(username,usermoney):
    def userbuy(productname,productprice):
        leftmoney = usermoney - productprice
        return f'{productname}를 {username}님이 구매하셔서 계좌에 {leftmoney}가 남아있습니다.'
    return userbuy

강현우구매 = user('kanghyunwoo',1000000)
강현우구매('자전거',100000) # hello() == two()

홍길동구매 = user('honggildong',1000000)
홍길동구매('킥보드',50000) # hello() == two()

# 강현우구매와 홍길동구매 함수를 가지고 계좌를 조작할 수 있나요?
# 계좌 변수에 접근할 수 있나요?

'킥보드를 honggildong님이 구매하셔서 계좌에 950000가 남아있습니다.'

In [ ]:
# S은행에 입사를 했습니다. 여러분들의 권한은 강현우구매 등에 구매함수만 조작할 수 있습니다.
# 이렇게 되면 계좌 정보를 접근할 수가 없겠죠?
# 접근 통제, 제한, 변수 보호 등으로 사용합니다.